$color: lighten(black,20);

$base-color: #f5f6f7;
$neutral-color: #eeeeee;

$base-menu-color: darken(#4d4d4d,1);

$base-header-color:adjust-color($base-color,$lightness:-16%);
$base-borders-color:adjust-color( $base-header-color,$lightness:-10%);

//==============================================//
//=================== BLUE =====================//
//==============================================//


$base-blue-color:#6badf6;
$base-blue-color-dark: #1979ca;

//=== window ===//

$window-blue-background-color:$base-blue-color;
$window-blue-header-text-color:lighten($color,1);


//=== tab ===//

$tab-blue-base-color:$base-blue-color-dark;

//=== grid ===//


$grid-row-blue-background-color-selected:lighten($base-blue-color,10);
$grid-row-blue-border-color-selected:darken($grid-row-blue-background-color-selected,8);

//=== buttons ===//

$button-blue-background-color:$base-blue-color-dark;
$button-blue-background-color-over:lighten($button-blue-background-color,3);
$button-blue-background-color-pressed:darken($button-blue-background-color,5);
$button-blue-background-color-disabled:lighten($button-blue-background-color,12.5);
$button-blue-background-color-focus:$button-blue-background-color-over;

$button-blue-border-color:darken($button-blue-background-color,2);
$button-blue-border-color-over:darken($button-blue-background-color-over,2);
$button-blue-border-color-pressed:darken($button-blue-background-color-pressed,2);
$button-blue-border-color-disabled:$button-blue-background-color-disabled;
$button-blue-border-color-focus:$button-blue-border-color-over;

$button-blue-color:white;
$button-blue-color-over:$button-blue-color;
$button-blue-color-focus:$button-blue-color;
$button-blue-color-pressed:$button-blue-color;
$button-blue-color-disabled:adjust-color($button-blue-color,$lightness:20%);


//=== tool ===//

$blue-tool-background-color-hover:darken($base-blue-color,5);
$blue-close-tool-background-color: darken(#c75050,1.5);
$blue-close-tool-background-color-hover: lighten($blue-close-tool-background-color,3);

//=== progress bar ===//

$progress-bar-blue-base-color:$base-blue-color-dark;





//===========================================//
//=================== RED ===================//
//===========================================//


$base-red-color:#ec6464;
$base-red-color-dark: #c75050;

//=== window ===//

$window-red-background-color:$base-red-color;
$window-red-header-text-color:lighten($color,1);


//=== tab ===//

$tab-red-base-color:$base-red-color-dark;

//=== grid ===//


$grid-row-red-background-color-selected:lighten($base-red-color,10);
$grid-row-red-border-color-selected:darken($grid-row-red-background-color-selected,8);


//=== buttons ===//

$button-red-background-color:$base-red-color-dark;
$button-red-background-color-over:lighten($button-red-background-color,3.5);
$button-red-background-color-pressed:darken($button-red-background-color,5);
$button-red-background-color-disabled:lighten($button-red-background-color,4);
$button-red-background-color-focus:$button-red-background-color-over;

$button-red-border-color:darken($button-red-background-color,2);
$button-red-border-color-over:darken($button-red-background-color-over,2);
$button-red-border-color-pressed:darken($button-red-background-color-pressed,2);
$button-red-border-color-disabled:$button-red-background-color-disabled;
$button-red-border-color-focus:$button-red-border-color-over;

$button-red-color:white;
$button-red-color-over:$button-red-color;
$button-red-color-focus:$button-red-color;
$button-red-color-pressed:$button-red-color;
$button-red-color-disabled:adjust-color($button-red-color,$lightness:20%);


//=== tool ===//

$red-tool-background-color-hover:darken($base-red-color,5);
$red-close-tool-background-color: darken(#c75050,1.5);
$red-close-tool-background-color-hover: lighten($red-close-tool-background-color,3);

//=== progress bar ===//

$progress-bar-red-base-color:$base-red-color-dark;






//===============================================//
//================== GREEN ======================//
//===============================================//


$base-green-color:#B1C341;
$base-green-color-dark: #9BA941;

//=== window ===//

$window-green-background-color:$base-green-color;
$window-green-header-text-color:lighten($color,3);


//=== tab ===//

$tab-green-base-color:$base-green-color-dark;

//=== grid ===//


$grid-row-green-background-color-selected:lighten($base-green-color,15);
$grid-row-green-border-color-selected:darken($grid-row-green-background-color-selected,12);


//=== buttons ===//

$button-green-background-color:$base-green-color-dark;
$button-green-background-color-over:lighten($button-green-background-color,2);
$button-green-background-color-pressed:darken($button-green-background-color,5);
$button-green-background-color-disabled:lighten($button-green-background-color,7);
$button-green-background-color-focus:$button-green-background-color-over;

$button-green-border-color:darken($button-green-background-color,2);
$button-green-border-color-over:darken($button-green-background-color-over,2);
$button-green-border-color-pressed:darken($button-green-background-color-pressed,2);
$button-green-border-color-disabled:$button-green-background-color-disabled;
$button-green-border-color-focus:$button-green-border-color-over;

$button-green-color:white;
$button-green-color-over:$button-green-color;
$button-green-color-focus:$button-green-color;
$button-green-color-pressed:$button-green-color;
$button-green-color-disabled:adjust-color($button-green-color,$lightness:20%);

//=== tool ===//

$green-tool-background-color-hover:darken($base-green-color,7.5);
$green-close-tool-background-color: darken(#c75050,1.5);
$green-close-tool-background-color-hover: lighten($green-close-tool-background-color,3);

//=== progress bar ===//

$progress-bar-green-base-color:$base-green-color-dark;


//===============================================//
//================== BLACK ======================//
//===============================================//


$base-black-color:lighten(#4d4d4d,5);
$base-black-color-dark: darken($base-black-color,7.5);

//=== window ===//

$window-black-background-color:$base-black-color;
$window-black-header-text-color:white;


//=== tab ===//

$tab-black-base-color:lighten($base-black-color-dark,5);

//=== grid ===//


$grid-row-black-background-color-selected:lighten($base-black-color,35);
$grid-row-black-border-color-selected:darken($grid-row-black-background-color-selected,15);


//=== buttons ===//

$button-black-background-color:$base-black-color-dark;
$button-black-background-color-over:lighten($button-black-background-color,2);
$button-black-background-color-pressed:darken($button-black-background-color,5);
$button-black-background-color-disabled:lighten($button-black-background-color,15);
$button-black-background-color-focus:$button-black-background-color-over;

$button-black-border-color:darken($button-black-background-color,2);
$button-black-border-color-over:darken($button-black-background-color-over,2);
$button-black-border-color-pressed:darken($button-black-background-color-pressed,2);
$button-black-border-color-disabled:$button-black-background-color-disabled;
$button-black-border-color-focus:$button-black-border-color-over;

$button-black-color:white;
$button-black-color-over:$button-black-color;
$button-black-color-focus:$button-black-color;
$button-black-color-pressed:$button-black-color;
$button-black-color-disabled:adjust-color($button-black-color,$lightness:20%);

//=== tool ===//

$black-tool-background-color-hover:darken($base-black-color,5);
$black-close-tool-background-color: darken(#c75050,1.5);
$black-close-tool-background-color-hover: lighten($black-close-tool-background-color,3);

//=== progress bar ===//

$progress-bar-black-base-color:$base-black-color-dark;







//===============================================//
//================== ORANGE ======================//
//===============================================//


$base-orange-color:#F5AE45;
$base-orange-color-dark: #DE8233;

//=== window ===//

$window-orange-background-color:$base-orange-color;
$window-orange-header-text-color:lighten($color,1);


//=== tab ===//

$tab-orange-base-color:lighten($base-orange-color-dark,5);

//=== grid ===//

$grid-row-orange-background-color-selected:lighten($base-orange-color,15);
$grid-row-orange-border-color-selected:lighten($base-orange-color,1);



//=== buttons ===//

$button-orange-background-color:$base-orange-color-dark;
$button-orange-background-color-over:lighten($button-orange-background-color,2);
$button-orange-background-color-pressed:darken($button-orange-background-color,5);
$button-orange-background-color-disabled:lighten($button-orange-background-color,7);
$button-orange-background-color-focus:$button-orange-background-color-over;

$button-orange-border-color:darken($button-orange-background-color,2);
$button-orange-border-color-over:darken($button-orange-background-color-over,2);
$button-orange-border-color-pressed:darken($button-orange-background-color-pressed,2);
$button-orange-border-color-disabled:$button-orange-background-color-disabled;
$button-orange-border-color-focus:$button-orange-border-color-over;

$button-orange-color:white;
$button-orange-color-over:$button-orange-color;
$button-orange-color-focus:$button-orange-color;
$button-orange-color-pressed:$button-orange-color;
$button-orange-color-disabled:adjust-color($button-orange-color,$lightness:20%);

//=== tool ===//

$orange-tool-background-color-hover:darken($base-orange-color,5);
$orange-close-tool-background-color: darken(#c75050,1.5);
$orange-close-tool-background-color-hover: lighten($orange-close-tool-background-color,3);

//=== progress bar ===//

$progress-bar-orange-base-color:$base-orange-color-dark;




//==============================================//
//=================== CUSTOM ===================//
//==============================================//


$base-custom-color:#6badf6;
$base-custom-color-dark: #1979ca;

//=== window ===//

$window-custom-background-color:$base-custom-color;
$window-custom-header-text-color:lighten($color,1);


//=== tab ===//

$tab-custom-base-color:$base-custom-color-dark;

//=== grid ===//


$grid-row-custom-background-color-selected:lighten($base-custom-color,10);
$grid-row-custom-border-color-selected:darken($grid-row-custom-background-color-selected,8);

//=== buttons ===//

$button-custom-background-color:$base-custom-color-dark;
$button-custom-background-color-over:lighten($button-custom-background-color,3);
$button-custom-background-color-pressed:darken($button-custom-background-color,5);
$button-custom-background-color-disabled:lighten($button-custom-background-color,12.5);
$button-custom-background-color-focus:$button-custom-background-color-over;

$button-custom-border-color:darken($button-custom-background-color,2);
$button-custom-border-color-over:darken($button-custom-background-color-over,2);
$button-custom-border-color-pressed:darken($button-custom-background-color-pressed,2);
$button-custom-border-color-disabled:$button-custom-background-color-disabled;
$button-custom-border-color-focus:$button-custom-border-color-over;

$button-custom-color:white;
$button-custom-color-over:$button-custom-color;
$button-custom-color-focus:$button-custom-color;
$button-custom-color-pressed:$button-custom-color;
$button-custom-color-disabled:adjust-color($button-custom-color,$lightness:20%);


//=== tool ===//

$custom-tool-background-color-hover:darken($base-custom-color,5);
$custom-close-tool-background-color: darken(#c75050,1.5);
$custom-close-tool-background-color-hover: lighten($custom-close-tool-background-color,3);

//=== progress bar ===//

$progress-bar-custom-base-color:$base-custom-color-dark;


