
@function scale-factor ( $scale-factor,$a,$limit-value:null,$limit-return-value:null ) {
	
	@if $limit-value == null {
		@if $scale-factor > 1 and $a > 0 {
			$c: 1 + (($scale-factor - 1) * $a);
			@return $c;
	
		}
		@else if $scale-factor > 1 and $a < 0 {
			$c: 1 + (($scale-factor - 1) / (-1 * $a));
			@return $c;
		}
		@else {
			@return $scale-factor;
		}
	}
	@else if $limit-value != null {
		@if $limit-value < $scale-factor {
			@if $scale-factor > 1 and $a > 0 {
				$c: 1 + (($scale-factor - 1) * $a);
				@return $c;
	
			}
			@else if $scale-factor > 1 and $a < 0 {
				$c: 1 + (($scale-factor - 1) / (-1 * $a));
				@return $c;
			}
			@else {
				@return $scale-factor;
			}
		
		}
		@else {
			@return $limit-return-value;
		}	
	
	}
}


@function font-weight ($scale-factor,$switch-value) {
	@if $scale-factor < $switch-value {
		@return bold;
	}
	@else {
		@return normal;
	}

}


@function icon-size($scale-factor,$icon-size) {
	@if $scale-factor < 1.5 {
		@return $icon-size;
	}
	@else if $scale-factor >= 1.5  {
		@return ($icon-size + 8);
		
	}

}


@function sprite-change($small-sprite,$medium-sprite,$scale-factor,$switch-value) {
	@if $scale-factor < $switch-value {
			@return $small-sprite;
	}
	@else if $scale-factor >= $switch-value  {
		@return $medium-sprite;
		
	}
}





@function value-return ($scale-factor,$switch-value,$first-value,$second-value) {
	@if $switch-value > $scale-factor {
		@return $first-value;
	}
	@else if $switch-value <= $scale-factor {
		@return $second-value;
	}
}