$theme-name:"azzurra" !default;

$extjs-version: "4.1" !default;

$include-default: false !default;
$compile-all: false !default;

$font-family:'Segoe UI',tahoma,arial,verdana,sans-serif !default;

$m-global-border-radius:false !default;

$include-missing-images: false !default;

$include-shadow-images: false !default;

$theme-scale-factor:1 !default; //Scales the complete theme. Medium size: 1.2, Large size: 1.5.

$font-size: 12px !default;


//=============================== base colors =====================================//


$color: lighten(black,20) !default;

$base-color: lighten(#f5f6f7,1) !default;
$neutral-color: #eeeeee !default;

$base-menu-color: darken(#4d4d4d,1) !default;

$base-header-color:adjust-color($base-color,$lightness:-16%) !default;
$base-borders-color:adjust-color( $base-header-color,$lightness:-10%) !default;


//================================ panel ========================================//

$panel-base-color:$base-color !default;

//panele header
$panel-header-background-color:$base-header-color !default;
$panel-header-background-gradient:'null' !default;
$panel-header-color:lighten($color,5) !default;

$panel-header-base-line-height:19px !default;
$panel-header-line-height: ceil($panel-header-base-line-height * $theme-scale-factor) !default;

$panel-header-base-font-size: ceil($font-size * .9) !default; //11px
$panel-header-font-size:ceil($panel-header-base-font-size * $theme-scale-factor) !default;

$panel-header-font-weight: font-weight($theme-scale-factor, 1.1) !default;

$m-panel-header-inner-border: false !default;
$panel-header-border-color:$base-borders-color !default;

$panel-border-color: $panel-header-border-color !default;

//body
$panel-body-background-color:$panel-base-color !default;
$panel-body-base-font-size: 12px !default;
$panel-body-font-size:ceil($panel-body-base-font-size * scale-factor($theme-scale-factor,-1.5)) !default;


//framed panel
$frame-base-color: $panel-base-color !default;

$panel-frame-header-background-color:$base-header-color !default;


$panel-frame-border-radius: null !default;
$panel-frame-border-color:$base-borders-color !default;

$m-panel-frame-color: $color !default;

$panel-frame-background-color:$frame-base-color !default;

//header tool 
$panel-tool-background-color-hover:darken($panel-header-background-color,10) !default;
$panel-tool-close-background-color: darken($panel-header-background-color,30) !default; 
$panel-tool-close-background-color:darken($panel-header-background-color,30) !default;



//=============================================== window ============================================================//

$window-base-color:$base-color !default;
$window-border-radius: null !default;

$window-header-base-line-height: 22px !default;
$window-header-line-height: ceil($window-header-base-line-height * scale-factor($theme-scale-factor,-1.5)) !default;



$window-header-base-font-size: ceil($font-size * .9) !default; //11px
$window-header-font-size:ceil($window-header-base-font-size * $theme-scale-factor) !default;

$window-header-font-weight: font-weight($theme-scale-factor,1.1) !default;

$window-background-color: adjust-color($window-base-color,$lightness:-10%) !default;
$window-border-color:lighten($base-borders-color,6.5) !default;
$window-inner-border-color: 'null' !default;
$window-header-color: adjust-color(black, $lightness: 30%) !default;

$window-body-border-color: $base-borders-color !default;
$window-body-background-color:$base-color !default;

//================================================= toolbar ====================================================//

$toolbar-background-color:lighten($base-header-color,7.5) !default;
$toolbar-background-gradient:'null' !default;
$toolbar-border-color: $base-borders-color !default;

$toolbar-text-base-font-size: ceil($font-size * .9) !default;
$toolbar-text-font-size:ceil($toolbar-text-base-font-size * scale-factor($theme-scale-factor,-1.5)) !default;
//separator
$toolbar-separator-color: adjust-color($toolbar-background-color, $lightness: -15%) !default;
$toolbar-separator-highlight-color: adjust-color($toolbar-background-color, $lightness: 25%) !default;

//================================================= button ====================================================//

//size
$button-small-base-padding:2px !default;
$button-small-padding:ceil($button-small-base-padding * scale-factor($theme-scale-factor, 6, 1.5, 1)) !default;
$button-small-base-font-size: ceil($font-size * .9) !default; //11px
$button-small-font-size:ceil($button-small-base-font-size * scale-factor($theme-scale-factor,-1.5)) !default;
$button-small-base-icon-size:16px !default;
$button-small-icon-size: icon-size($theme-scale-factor,$button-small-base-icon-size) !default;



$button-medium-base-padding:2px !default;
$button-medium-padding:ceil($button-medium-base-padding * scale-factor($theme-scale-factor, 5, 1.5, 1)) !default;
$button-medium-base-font-size: ceil($font-size * .9) !default; //11px
$button-medium-font-size:ceil($button-medium-base-font-size * scale-factor($theme-scale-factor,1)) !default;
$button-medium-base-icon-size:24px !default;
$button-medium-icon-size: icon-size($theme-scale-factor,$button-medium-base-icon-size) !default;


$button-large-base-padding:2px !default;
$button-large-padding:ceil($button-large-base-padding * scale-factor($theme-scale-factor, 5, 1.5, 1)) !default;
$button-large-base-font-size: ceil($font-size * .9) !default; //11px
$button-large-font-size:ceil($button-large-base-font-size * scale-factor($theme-scale-factor,1)) !default;
$button-large-base-icon-size:32px !default;
$button-large-icon-size: icon-size($theme-scale-factor,$button-large-base-icon-size) !default;



//colors

$button-default-base-color:adjust-color($base-color,$lightness: -20%) !default;
$button-default-color: white !default;

$button-default-background-color: adjust-color($button-default-base-color,$lightness:-20%) !default;
$button-default-background-color-over:adjust-color($button-default-background-color,$lightness:5%) !default;
$button-default-background-color-pressed:adjust-color($button-default-background-color,$lightness:-10%) !default;
$button-default-background-color-focus:$button-default-background-color !default;
$button-default-background-color-disabled:adjust-color($button-default-background-color,$lightness:20%) !default;

$button-default-border-color:adjust-color($button-default-background-color,$lightness:-10%) !default;
$button-default-border-color-over: adjust-color($button-default-border-color,$lightness:5%) !default;
$button-default-border-color-pressed:$button-default-background-color-pressed !default;
$button-default-border-color-fokus:adjust-color($button-default-border-color,$lightness:-50%) !default;
$button-default-border-color-disabled:$button-default-background-color-disabled !default;

$button-default-background-gradient:'null' !default;
$button-default-background-gradient-over:'null' !default;
$button-default-background-gradient-pressed: 'null' !default;
$button-default-background-gradient-disabled: 'null' !default;

$button-default-color-disabled: lighten($button-default-color, 15) !default;

//toolbars button

$button-toolbar-background-gradient-over: 'null' !default;
$button-toolbar-background-gradient-pressed:'null' !default;

$button-toolbar-background-color-pressed: $base-menu-color !default;
$button-toolbar-background-color-over:adjust-color($button-toolbar-background-color-pressed, $lightness:10%) !default;
$button-toolbar-background-color-fokus: $button-toolbar-background-color-over !default;

$button-toolbar-border-color-over:$button-toolbar-background-color-over !default;
$button-toolbar-border-color-focus: $button-toolbar-border-color-over !default;
$button-toolbar-border-color-pressed:$button-toolbar-background-color-pressed !default;
$button-toolbar-border-color-disabled: transparent !default;

$button-toolbar-color-over:$base-color !default;
$button-toolbar-color-focus:adjust-color( $button-toolbar-color-over,$lightness:0) !default;
$button-toolbar-color-pressed: $button-toolbar-color-over !default;


//================================================= button group =====================================================//

$btn-group-inner-border-color: 'null' !default;

$btn-group-border-color: $panel-border-color !default;
$btn-group-background-color: transparent !default;

$btn-group-header-color:white !default;
$btn-group-header-background-color: adjust-color($panel-border-color,$lightness:-10%) !default;

$btn-group-header-font-base-size:ceil($font-size * .9) !default;
$btn-group-header-font-size:ceil($btn-group-header-font-base-size * scale-factor($theme-scale-factor,-1.5)) !default;
//================================================== menu ===========================================================//


$m-grid-header-text-shadow:false !default;
$menu-text-color:adjust-color($base-color,$lightness:0) !default;

$menu-text-base-size:ceil($font-size * .9) !default;
$menu-text-size:ceil($menu-text-base-size * scale-factor($theme-scale-factor,-1.5)) !default;

$menu-link-padding: ceil(6px * scale-factor($theme-scale-factor,-1.5)) 6px ceil(3px * scale-factor($theme-scale-factor,1)) 32px !default;

$menu-background-color: $base-menu-color !default;

$menu-item-active-background-color: adjust-color($menu-background-color, $lightness:-5%) !default;
$menu-item-active-border-color: $menu-item-active-background-color !default;

$m-menu-item-active-background-gradiant:'null' !default;

$menu-separator-border-color: $menu-item-active-background-color !default;
$menu-separator-background-color: transparent !default;



//=============================================== grid ===============================================================//

$grid-base-color:$base-color !default;

//==== grid header ===//
$grid-header-background-color: lighten($base-header-color,12.5) !default;
$grid-header-background-gradient:'null' !default;

$grid-header-over-background-color: lighten($grid-base-color,1.5) !default;
$grid-header-over-background-gradient: 'null' !default;

$grid-header-border-color: $base-borders-color !default;

$grid-header-padding: 3px 6px 4px !default;



$grid-header-base-line-height: 15px !default;
$grid-header-line-height:ceil($grid-header-base-line-height * scale-factor($theme-scale-factor,2)) !default;

$grid-header-base-font-size:11px !default;
$grid-header-font-size:ceil($grid-header-base-font-size * scale-factor($theme-scale-factor,-1.5)) !default;

//=== grid body ===//

$m-grid-body-background-color: lighten($base-color,2) !default;

//=== grid rows ===//

$grid-row-base-height: 20px !default;
$grid-row-height:ceil($grid-row-base-height * scale-factor($theme-scale-factor,1.5)) !default;

$grid-row-cell-base-line-height: 15px !default;
$grid-row-cell-line-height:ceil($grid-row-cell-base-line-height * scale-factor($theme-scale-factor,1.2)) !default;

$grid-row-cell-base-font-size: ceil($font-size * .9) !default;
$grid-row-cell-font-size:ceil($grid-row-cell-base-font-size * $theme-scale-factor) !default;

$grid-row-cell-background: lighten($grid-base-color,2) !default;
$grid-row-cell-alt-background: $grid-row-cell-background !default;

$grid-row-cell-border-color:lighten($base-borders-color,15) !default;

$grid-row-cell-over-border-color: $grid-row-cell-border-color;
$grid-row-cell-over-background-color: darken($grid-row-cell-alt-background,3) !default;

$grid-row-cell-selected-border-style: solid !default;
$grid-row-cell-selected-background-color: darken($grid-row-cell-over-background-color,5.5) !default;
$grid-row-cell-selected-border-color: darken($grid-row-cell-over-border-color,7.5) !default;

$grid-row-wrap-border-color:$grid-row-cell-border-color !default;

$grid-row-body-base-font-size:11px !default;
$grid-row-body-font-size:ceil($grid-row-body-base-font-size * scale-factor($theme-scale-factor,-2.2)) !default;

$m-grid-header-border-color: $base-borders-color !default;
$grid-header-over-border-color: $m-grid-header-border-color !default;
$m-grid-border:$m-grid-header-border-color !default;


//======================//
//=====grouped grid=====//

$grid-grouped-header-background-color: darken($m-grid-body-background-color,5) !default;
$grid-grouped-header-border-color: lighten($base-borders-color,2) !default;
$grid-grouped-header-border-width:1px 0 !default;

$grid-grouped-title-color: $color !default;

//=== grid editor ===//
$grid-row-editor-background-color: lighten($base-header-color,1.5) !default;


//=== grid paging bar ===//

$grid-pagingbar-sprite:sprite-change('grid/pagingbar-sprite.png','grid/pagingbar-sprite-medium.png',$theme-scale-factor,1.5) !default;
$grid-pagingbar-sprite-size:value-return($theme-scale-factor,1.5,16px,24px) !default;


//================================================= form =================================================//

$form-field-height: ceil(22px * scale-factor($theme-scale-factor,-2)) !default;
$form-toolbar-field-height: $form-field-height !default;

$form-field-font-size: ceil($font-size * scale-factor($theme-scale-factor,-2)) !default;

$form-label-font-size:ceil($font-size * scale-factor($theme-scale-factor,-2)) !default;

$form-field-invalid-border-color: #c75050 !default;
$form-field-background-image: 'null' !default;

$form-field-invalid-background-image: 'null' !default;

$form-field-border-color: adjust-color($base-color,$lightness:-20%) !default;

$form-field-focus-border-color: darken($form-field-border-color,15) !default;

$fieldset-header-color: $color !default;


// @class Ext.form.field.Checkbox

$form-checkbox-image: 'form/checkbox.gif' !default;
$form-checkbox-size: 13px !default;


$var-vertical-align:-(ceil(($theme-scale-factor - 1) * 5) + 2) !default;
$checkbox-vertical-align: #{$var-vertical-align}px !default;

// @class Ext.form.field.Radio

$form-radio-image: 'form/radio.gif' !default;

$form-trigger-sprite:sprite-change('form/trigger.gif','form/trigger-medium.gif',$theme-scale-factor,1.2) !default;
$form-data-trigger-sprite:sprite-change('form/date-trigger.gif','form/date-trigger-medium.gif',$theme-scale-factor,1.2) !default;
$form-clear-trigger-sprite:sprite-change('form/clear-trigger.png','form/clear-trigger-medium.png',$theme-scale-factor,1.2) !default;
$form-search-trigger-sprite:sprite-change('form/search-trigger.png','form/search-trigger-medium.png',$theme-scale-factor,1.2) !default;

$form-spiner-toolbar-sprite:'form/spinner.png' !default;
$form-spiner-down-background-position:value-return($theme-scale-factor,1.1,-16px,-15px) !default;
$form-spiner-toolbar-down-background-position:value-return($theme-scale-factor,1.1,-16px,-15px) !default;

//================================================ boundlists ===============================================//

$boundlist-background-color: #fff !default;

$boundlist-border-color: adjust-color($base-color,$lightness:-20%) !default;

$boundlist-item-border-style: solid !default;

$boundlist-item-over-border-color: $boundlist-background-color !default;
$boundlist-item-selected-border-color: $boundlist-background-color !default;

$boundlist-item-over-background-color: adjust-color($base-color, $lightness: -3%) !default;
$boundlist-item-selected-background-color: darken($boundlist-item-over-background-color, 10) !default;


//================================================ tabs ===================================================//

$tab-inner-border: false !default;

//size
$tab-base-height: 22px !default;
$tab-height:ceil($tab-base-height * $theme-scale-factor) !default;
$tab-spacing: 0px !default;

$tab-base-font-size:ceil($font-size * 0.9) !default;
$tab-font-size:ceil($tab-base-font-size * $theme-scale-factor) !default;

$tab-font-weight:font-weight($theme-scale-factor,1.2) !default;

//tab bar body border and padding
$tabbar-top-body-padding: 2px 0 3px !default;

//background
$tab-base-color:$base-color !default;
$tab-base-color-active:adjust-color($base-color,$lightness:-40%,$saturation:3%) !default;
$tab-base-color-over:lighten($tab-base-color-active,15) !default;


$tab-background: transparent !default;
$tab-background-over: lighten($tab-base-color-active, 15) !default;
$tab-background-disabled: $tab-background !default;

$tab-color:lighten($color,17.5) !default;
$tab-color-over: white !default;
$tab-color-active: white !default;
$tab-color-disabled: #c3b3b3 !default;

//gradiat
$tab-background-gradient: 'null' !default;
$tab-background-gradient-over: 'null' !default;
$tab-background-gradient-active: 'null' !default;
$tab-background-gradient-disabled: 'null' !default;

//border
$tab-border-color-active: adjust-color($tab-base-color-active,$lightness:0%) !default;

//tab bar strip
$tabbar-strip-background-color: $tab-base-color-active !default;
$tabbar-strip-border-color: $tab-base-color-active !default;

$tab-closable-icon-top: 0px !default;
$tab-closable-icon-right: 0px !default;

$m-tabbar-background-gradiant:false !default;
$m-tabbar-background-color:transparent !default;
$tabbar-border-color: $panel-header-border-color !default;



//===================================== accordian ===============================================//

$border-layout-ct-background: $base-color !default;

$accordion-header-color: #000 !default;
$accordion-header-background-color: adjust-color($base-color, $lightness: -10%) !default;

$m-accordion-inner-border:false !default;

$m-acordian-header-inner-border-color:$accordion-header-background-color !default;

//====================================== progress bar ===============================================//

$m-progress-bar-background-gradient:'null' !default;

$progress-bar-background-color: darken($base-header-color,7) !default;
$progress-border-color: darken($progress-bar-background-color,5) !default;





//==================================== date picker ==================================================//

$datepicker-base-color: $base-color !default;
$datepicker-header-background-color:adjust-color($base-menu-color,$lightness:5%) !default;
$datepicker-border-color: adjust-color($datepicker-header-background-color, $lightness: 0%) !default;

//header
$datepicker-header-background-gradient: 'null' !default;
$datepicker-header-base-height:26px !default;
$datepicker-header-height:ceil($datepicker-header-base-height * scale-factor($theme-scale-factor,-2.5)) !default;

$datepicker-th-bese-font-size: 10px !default;
$datepicker-th-font-size:ceil($datepicker-th-bese-font-size * scale-factor($theme-scale-factor,-1.5)) !default;

$datepicker-td-base-height: 17px !default;
$datepicker-td-height:ceil($datepicker-td-base-height * scale-factor($theme-scale-factor,1.5)) !default;
//body
$datepicker-today-item-border-color: $base-menu-color !default;
$datepicker-body-base-font-size:ceil($font-size * .9) !default;
$datepicker-body-font-size:ceil($datepicker-body-base-font-size * scale-factor($theme-scale-factor,-1.5)) !default;

$datepicker-th-background-gradient: 'null' !default;
$datepicker-th-background-color:adjust-color($progress-bar-background-color,$lightness:20%) !default;

$datepicker-tool-sprite-image: 'tools/tool-sprites.png' !default;

//footer
$datepicker-footer-background-gradient:'null' !default;

//monthpicker
$datepicker-monthpicker-base-font-size:ceil($font-size * .9) !default;
$datepicker-monthpicker-font-size:ceil($datepicker-monthpicker-base-font-size * scale-factor($theme-scale-factor,-1.5)) !default;
$datepicker-monthpicker-item-base-height:18px !default;
$datepicker-monthpicker-item-height:ceil($datepicker-monthpicker-item-base-height * scale-factor($theme-scale-factor,-1.5)) !default;
$datepicker-monthpicker-height:(7 * $datepicker-monthpicker-item-height) + 40 !default;

//================================= color picker =================================================//


$colorpicker-border-color:$base-menu-color !default;
$colorpicker-item-border-color: darken($base-menu-color,10) !default;
$colorpicker-over-border-color: darken($base-menu-color,15) !default;
$colorpicker-over-background-color: darken($base-menu-color,10) !default;



//=============================== html editor ========================================//

$html-editor-icon-size:icon-size($theme-scale-factor,16px) !default;

$html-editor-icon-file:sprite-change('editor/tb-sprite.png','editor/tb-sprite-medium.png',$theme-scale-factor,1.5) !default;