	
@mixin ui-button (
	$custom-ui-name

) {

/*
==============================================================
===================== start ui-button ========================
*/

	@include extjs-button-ui(
			/* UI + Scale */
			'#{$custom-ui-name}-small',

			$button-small-border-radius,
			$button-small-border-width,

			$button-custom-border-color,
			$button-custom-border-color-over,
			$button-custom-border-color-focus,
			$button-custom-border-color-pressed,
			$button-custom-border-color-disabled,

			$button-small-padding,
			$button-small-text-padding,

			$button-custom-background-color,
			$button-custom-background-color-over,
			$button-custom-background-color-focus,
			$button-custom-background-color-pressed,
			$button-custom-background-color-disabled,

			$button-default-background-gradient,
			$button-default-background-gradient-over,
			$button-default-background-gradient-focus,
			$button-default-background-gradient-pressed,
			$button-default-background-gradient-disabled,

			$button-custom-color,
			$button-custom-color-over,
			$button-custom-color-focus,
			$button-custom-color-pressed,
			$button-custom-color-disabled,

			$button-small-font-size,
			$button-small-font-size-over,
			$button-small-font-size-focus,
			$button-small-font-size-pressed,
			$button-small-font-size-disabled,

			$button-small-font-weight,
			$button-small-font-weight-over,
			$button-small-font-weight-focus,
			$button-small-font-weight-pressed,
			$button-small-font-weight-disabled,

			$button-small-font-family,
			$button-small-font-family-over,
			$button-small-font-family-focus,
			$button-small-font-family-pressed,
			$button-small-font-family-disabled,

			$button-small-icon-size
		);

		@include extjs-button-ui(
			'#{$custom-ui-name}-medium',

			$button-medium-border-radius,
			$button-medium-border-width,

			$button-custom-border-color,
			$button-custom-border-color-over,
			$button-custom-border-color-focus,
			$button-custom-border-color-pressed,
			$button-custom-border-color-disabled,

			$button-medium-padding,
			$button-medium-text-padding,

			$button-custom-background-color,
			$button-custom-background-color-over,
			$button-custom-background-color-focus,
			$button-custom-background-color-pressed,
			$button-custom-background-color-disabled,

			$button-default-background-gradient,
			$button-default-background-gradient-over,
			$button-default-background-gradient-focus,
			$button-default-background-gradient-pressed,
			$button-default-background-gradient-disabled,

			$button-custom-color,
			$button-custom-color-over,
			$button-custom-color-focus,
			$button-custom-color-pressed,
			$button-custom-color-disabled,

			$button-medium-font-size,
			$button-medium-font-size-over,
			$button-medium-font-size-focus,
			$button-medium-font-size-pressed,
			$button-medium-font-size-disabled,

			$button-medium-font-weight,
			$button-medium-font-weight-over,
			$button-medium-font-weight-focus,
			$button-medium-font-weight-pressed,
			$button-medium-font-weight-disabled,

			$button-medium-font-family,
			$button-medium-font-family-over,
			$button-medium-font-family-focus,
			$button-medium-font-family-pressed,
			$button-medium-font-family-disabled,

			$button-medium-icon-size
		);

		@include extjs-button-ui(
			'#{$custom-ui-name}-large',

			$button-large-border-radius,
			$button-large-border-width,

			$button-custom-border-color,
			$button-custom-border-color-over,
			$button-custom-border-color-focus,
			$button-custom-border-color-pressed,
			$button-custom-border-color-disabled,

			$button-large-padding,
			$button-large-text-padding,

			$button-custom-background-color,
			$button-custom-background-color-over,
			$button-custom-background-color-focus,
			$button-custom-background-color-pressed,
			$button-custom-background-color-disabled,

			$button-default-background-gradient,
			$button-default-background-gradient-over,
			$button-default-background-gradient-focus,
			$button-default-background-gradient-pressed,
			$button-default-background-gradient-disabled,

			$button-custom-color,
			$button-custom-color-over,
			$button-custom-color-focus,
			$button-custom-color-pressed,
			$button-custom-color-disabled,

			$button-large-font-size,
			$button-large-font-size-over,
			$button-large-font-size-focus,
			$button-large-font-size-pressed,
			$button-large-font-size-disabled,

			$button-large-font-weight,
			$button-large-font-weight-over,
			$button-large-font-weight-focus,
			$button-large-font-weight-pressed,
			$button-large-font-weight-disabled,

			$button-large-font-family,
			$button-large-font-family-over,
			$button-large-font-family-focus,
			$button-large-font-family-pressed,
			$button-large-font-family-disabled,

			$button-large-icon-size
		);
/*
====================== end ui-button==========================
==============================================================
*/

/*
=================== start ui-toolbar-button===================
==============================================================
*/
    @include extjs-button-ui(
        '#{$custom-ui-name}-toolbar-small',

        $button-small-border-radius,
        $button-small-border-width,

        $button-toolbar-border-color,
        $button-toolbar-custom-border-color-over,
        $button-toolbar-custom-border-color-focus,
        $button-toolbar-custom-border-color-pressed,
        $button-toolbar-border-color-disabled,

        $button-small-padding,
        $button-small-text-padding,

        $button-toolbar-background-color,
        $button-toolbar-custom-background-color-over,
        $button-toolbar-custom-background-color-focus,
        $button-toolbar-custom-background-color-pressed,
        $button-toolbar-background-color-disabled,

        $button-toolbar-background-gradient,
        $button-toolbar-background-gradient-over,
        $button-toolbar-background-gradient-focus,
        $button-toolbar-background-gradient-pressed,
        $button-toolbar-background-gradient-disabled,

        $button-toolbar-color,
        $button-toolbar-color-over,
        $button-toolbar-color-focus,
        $button-toolbar-color-pressed,
        $button-toolbar-color-disabled,

        $button-small-font-size,
        $button-small-font-size-over,
        $button-small-font-size-focus,
        $button-small-font-size-pressed,
        $button-small-font-size-disabled,

        $button-small-font-weight,
        $button-small-font-weight-over,
        $button-small-font-weight-focus,
        $button-small-font-weight-pressed,
        $button-small-font-weight-disabled,

        $button-small-font-family,
        $button-small-font-family-over,
        $button-small-font-family-focus,
        $button-small-font-family-pressed,
        $button-small-font-family-disabled,

        $button-small-icon-size,

		null,
		$m-button-toolbar-inner-border-color-over,
		$m-button-toolbar-inner-border-color-pressed,
		$m-button-toolbar-inner-border-color-focus
    );

    @include extjs-button-ui(
        '#{$custom-ui-name}-toolbar-medium',

        $button-medium-border-radius,
        $button-medium-border-width,

        $button-toolbar-border-color,
        $button-toolbar-custom-border-color-over,
        $button-toolbar-custom-border-color-focus,
        $button-toolbar-custom-border-color-pressed,
        $button-toolbar-border-color-disabled,

        $button-medium-padding,
        $button-medium-text-padding,

        $button-toolbar-background-color,
        $button-toolbar-custom-background-color-over,
        $button-toolbar-custom-background-color-focus,
        $button-toolbar-custom-background-color-pressed,
        $button-toolbar-background-color-disabled,

        $button-toolbar-background-gradient,
        $button-toolbar-background-gradient-over,
        $button-toolbar-background-gradient-focus,
        $button-toolbar-background-gradient-pressed,
        $button-toolbar-background-gradient-disabled,

        $button-toolbar-color,
        $button-toolbar-color-over,
        $button-toolbar-color-focus,
        $button-toolbar-color-pressed,
        $button-toolbar-color-disabled,

        $button-medium-font-size,
        $button-medium-font-size-over,
        $button-medium-font-size-focus,
        $button-medium-font-size-pressed,
        $button-medium-font-size-disabled,

        $button-medium-font-weight,
        $button-medium-font-weight-over,
        $button-medium-font-weight-focus,
        $button-medium-font-weight-pressed,
        $button-medium-font-weight-disabled,

        $button-medium-font-family,
        $button-medium-font-family-over,
        $button-medium-font-family-focus,
        $button-medium-font-family-pressed,
        $button-medium-font-family-disabled,

        $button-medium-icon-size,

		null,
		$m-button-toolbar-inner-border-color-over,
		$m-button-toolbar-inner-border-color-pressed,
		$m-button-toolbar-inner-border-color-focus
    );

    @include extjs-button-ui(
        '#{$custom-ui-name}-toolbar-large',

        $button-large-border-radius,
        $button-large-border-width,

        $button-toolbar-border-color,
        $button-toolbar-custom-border-color-over,
        $button-toolbar-custom-border-color-focus,
        $button-toolbar-custom-border-color-pressed,
        $button-toolbar-border-color-disabled,

        $button-large-padding,
        $button-large-text-padding,

        $button-toolbar-background-color,
        $button-toolbar-custom-background-color-over,
        $button-toolbar-custom-background-color-focus,
        $button-toolbar-custom-background-color-pressed,
        $button-toolbar-background-color-disabled,

        $button-toolbar-background-gradient,
        $button-toolbar-background-gradient-over,
        $button-toolbar-background-gradient-focus,
        $button-toolbar-background-gradient-pressed,
        $button-toolbar-background-gradient-disabled,

        $button-toolbar-color,
        $button-toolbar-color-over,
        $button-toolbar-color-focus,
        $button-toolbar-color-pressed,
        $button-toolbar-color-disabled,

        $button-large-font-size,
        $button-large-font-size-over,
        $button-large-font-size-focus,
        $button-large-font-size-pressed,
        $button-large-font-size-disabled,

        $button-large-font-weight,
        $button-large-font-weight-over,
        $button-large-font-weight-focus,
        $button-large-font-weight-pressed,
        $button-large-font-weight-disabled,

        $button-large-font-family,
        $button-large-font-family-over,
        $button-large-font-family-focus,
        $button-large-font-family-pressed,
        $button-large-font-family-disabled,

        $button-large-icon-size,

		null,
		$m-button-toolbar-inner-border-color-over,
		$m-button-toolbar-inner-border-color-pressed,
		$m-button-toolbar-inner-border-color-focus
    );

}

@mixin ui-button-active(
	$custom-ui-name
) {
/*
==============================================================
================= start ui-button-active =====================
*/


	@include extjs-button-ui(
        '#{$custom-ui-name}-small',

        $button-small-border-radius,
        $button-small-border-width,

        $button-default-border-color,
        $button-default-border-color-over,
        $button-default-border-color-focus,
        $button-default-border-color-pressed,
        $button-default-border-color-disabled,

        $button-small-padding,
        $button-small-text-padding,

        $button-default-background-color,
        $button-default-background-color-over,
        $button-default-background-color-focus,
        $button-default-background-color-pressed,
        $button-default-background-color-disabled,

        $button-default-background-gradient,
        $button-default-background-gradient-over,
        $button-default-background-gradient-focus,
        $button-default-background-gradient-pressed,
        $button-default-background-gradient-disabled,

        $button-default-color,
        $button-default-color-over,
        $button-default-color-focus,
        $button-default-color-pressed,
        $button-default-color-disabled,

        $button-small-font-size,
        $button-small-font-size-over,
        $button-small-font-size-focus,
        $button-small-font-size-pressed,
        $button-small-font-size-disabled,

        $button-small-font-weight,
        $button-small-font-weight-over,
        $button-small-font-weight-focus,
        $button-small-font-weight-pressed,
        $button-small-font-weight-disabled,

        $button-small-font-family,
        $button-small-font-family-over,
        $button-small-font-family-focus,
        $button-small-font-family-pressed,
        $button-small-font-family-disabled,

        $button-small-icon-size,

		$m-button-inner-border-color,
		$m-button-inner-border-color-over,
		$m-button-inner-border-color-pressed
    );

    @include extjs-button-ui(
        '#{$custom-ui-name}-medium',

        $button-medium-border-radius,
        $button-medium-border-width,

        $button-default-border-color,
        $button-default-border-color-over,
        $button-default-border-color-focus,
        $button-default-border-color-pressed,
        $button-default-border-color-disabled,

        $button-medium-padding,
        $button-medium-text-padding,

        $button-default-background-color,
        $button-default-background-color-over,
        $button-default-background-color-focus,
        $button-default-background-color-pressed,
        $button-default-background-color-disabled,

        $button-default-background-gradient,
        $button-default-background-gradient-over,
        $button-default-background-gradient-focus,
        $button-default-background-gradient-pressed,
        $button-default-background-gradient-disabled,

        $button-default-color,
        $button-default-color-over,
        $button-default-color-focus,
        $button-default-color-pressed,
        $button-default-color-disabled,

        $button-medium-font-size,
        $button-medium-font-size-over,
        $button-medium-font-size-focus,
        $button-medium-font-size-pressed,
        $button-medium-font-size-disabled,

        $button-medium-font-weight,
        $button-medium-font-weight-over,
        $button-medium-font-weight-focus,
        $button-medium-font-weight-pressed,
        $button-medium-font-weight-disabled,

        $button-medium-font-family,
        $button-medium-font-family-over,
        $button-medium-font-family-focus,
        $button-medium-font-family-pressed,
        $button-medium-font-family-disabled,

        $button-medium-icon-size,

		$m-button-inner-border-color,
		$m-button-inner-border-color-over,
		$m-button-inner-border-color-pressed
    );

    @include extjs-button-ui(
        '#{$custom-ui-name}-large',

        $button-large-border-radius,
        $button-large-border-width,

        $button-default-border-color,
        $button-default-border-color-over,
        $button-default-border-color-focus,
        $button-default-border-color-pressed,
        $button-default-border-color-disabled,

        $button-large-padding,
        $button-large-text-padding,

        $button-default-background-color,
        $button-default-background-color-over,
        $button-default-background-color-focus,
        $button-default-background-color-pressed,
        $button-default-background-color-disabled,

        $button-default-background-gradient,
        $button-default-background-gradient-over,
        $button-default-background-gradient-focus,
        $button-default-background-gradient-pressed,
        $button-default-background-gradient-disabled,

        $button-default-color,
        $button-default-color-over,
        $button-default-color-focus,
        $button-default-color-pressed,
        $button-default-color-disabled,

        $button-large-font-size,
        $button-large-font-size-over,
        $button-large-font-size-focus,
        $button-large-font-size-pressed,
        $button-large-font-size-disabled,

        $button-large-font-weight,
        $button-large-font-weight-over,
        $button-large-font-weight-focus,
        $button-large-font-weight-pressed,
        $button-large-font-weight-disabled,

        $button-large-font-family,
        $button-large-font-family-over,
        $button-large-font-family-focus,
        $button-large-font-family-pressed,
        $button-large-font-family-disabled,

        $button-large-icon-size,

		$m-button-inner-border-color,
		$m-button-inner-border-color-over,
		$m-button-inner-border-color-pressed
    );


	//overrides

	.#{$prefix}window-active {
		
		@include button-color-override (
			$custom-ui-name,

			$button-ui-background-color:$button-custom-background-color,
			$button-ui-background-color-over:$button-custom-background-color-over,
			$button-ui-background-color-pressed:$button-custom-background-color-pressed,
			$button-ui-background-color-disabled:$button-custom-background-color-disabled,

			$button-ui-border-color:$button-custom-border-color,
			$button-ui-border-color-over:$button-custom-border-color-over,
			$button-ui-border-color-pressed:$button-custom-border-color-pressed,
			$button-ui-border-color-disabled:$button-custom-border-color-disabled
		
		);
		
	
	}

/*
==================== end ui-button-active ====================
==============================================================
*/


/*
============ start ui-toolbar-button-active ==================
==============================================================
*/
    @include extjs-button-ui(
        '#{$custom-ui-name}-toolbar-small',

        $button-small-border-radius,
        $button-small-border-width,

        $button-toolbar-border-color,
        darken($toolbar-background-color,20),
        darken($toolbar-background-color,20),
        darken($toolbar-background-color,25),
        $button-toolbar-border-color-disabled,

        $button-small-padding,
        $button-small-text-padding,

        $button-toolbar-background-color,
        darken($toolbar-background-color,15),
        darken($toolbar-background-color,15),
        darken($toolbar-background-color,20),
        $button-toolbar-background-color-disabled,

        $button-toolbar-background-gradient,
        $button-toolbar-background-gradient-over,
        $button-toolbar-background-gradient-focus,
        $button-toolbar-background-gradient-pressed,
        $button-toolbar-background-gradient-disabled,

        $button-toolbar-color,
        $button-toolbar-color-over,
        $button-toolbar-color-focus,
        $button-toolbar-color-pressed,
        $button-toolbar-color-disabled,

        $button-small-font-size,
        $button-small-font-size-over,
        $button-small-font-size-focus,
        $button-small-font-size-pressed,
        $button-small-font-size-disabled,

        $button-small-font-weight,
        $button-small-font-weight-over,
        $button-small-font-weight-focus,
        $button-small-font-weight-pressed,
        $button-small-font-weight-disabled,

        $button-small-font-family,
        $button-small-font-family-over,
        $button-small-font-family-focus,
        $button-small-font-family-pressed,
        $button-small-font-family-disabled,

        $button-small-icon-size,

		null,
		$m-button-toolbar-inner-border-color-over,
		$m-button-toolbar-inner-border-color-pressed,
		$m-button-toolbar-inner-border-color-focus
    );

    @include extjs-button-ui(
        '#{$custom-ui-name}-toolbar-medium',

        $button-medium-border-radius,
        $button-medium-border-width,

        $button-toolbar-border-color,
        darken($toolbar-background-color,20),
        darken($toolbar-background-color,20),
        darken($toolbar-background-color,25),
        $button-toolbar-border-color-disabled,

        $button-medium-padding,
        $button-medium-text-padding,

        $button-toolbar-background-color,
        darken($toolbar-background-color,15),
        darken($toolbar-background-color,15),
        darken($toolbar-background-color,20),
        $button-toolbar-background-color-disabled,

        $button-toolbar-background-gradient,
        $button-toolbar-background-gradient-over,
        $button-toolbar-background-gradient-focus,
        $button-toolbar-background-gradient-pressed,
        $button-toolbar-background-gradient-disabled,

        $button-toolbar-color,
        $button-toolbar-color-over,
        $button-toolbar-color-focus,
        $button-toolbar-color-pressed,
        $button-toolbar-color-disabled,

        $button-medium-font-size,
        $button-medium-font-size-over,
        $button-medium-font-size-focus,
        $button-medium-font-size-pressed,
        $button-medium-font-size-disabled,

        $button-medium-font-weight,
        $button-medium-font-weight-over,
        $button-medium-font-weight-focus,
        $button-medium-font-weight-pressed,
        $button-medium-font-weight-disabled,

        $button-medium-font-family,
        $button-medium-font-family-over,
        $button-medium-font-family-focus,
        $button-medium-font-family-pressed,
        $button-medium-font-family-disabled,

        $button-medium-icon-size,

		null,
		$m-button-toolbar-inner-border-color-over,
		$m-button-toolbar-inner-border-color-pressed,
		$m-button-toolbar-inner-border-color-focus
    );

    @include extjs-button-ui(
        '#{$custom-ui-name}-toolbar-large',

        $button-large-border-radius,
        $button-large-border-width,

        $button-toolbar-border-color,
        darken($toolbar-background-color,20),
        darken($toolbar-background-color,20),
        darken($toolbar-background-color,25),
        $button-toolbar-border-color-disabled,

        $button-large-padding,
        $button-large-text-padding,

        $button-toolbar-background-color,
        darken($toolbar-background-color,15),
        darken($toolbar-background-color,15),
        darken($toolbar-background-color,20),
        $button-toolbar-background-color-disabled,

        $button-toolbar-background-gradient,
        $button-toolbar-background-gradient-over,
        $button-toolbar-background-gradient-focus,
        $button-toolbar-background-gradient-pressed,
        $button-toolbar-background-gradient-disabled,

        $button-toolbar-color,
        $button-toolbar-color-over,
        $button-toolbar-color-focus,
        $button-toolbar-color-pressed,
        $button-toolbar-color-disabled,

        $button-large-font-size,
        $button-large-font-size-over,
        $button-large-font-size-focus,
        $button-large-font-size-pressed,
        $button-large-font-size-disabled,

        $button-large-font-weight,
        $button-large-font-weight-over,
        $button-large-font-weight-focus,
        $button-large-font-weight-pressed,
        $button-large-font-weight-disabled,

        $button-large-font-family,
        $button-large-font-family-over,
        $button-large-font-family-focus,
        $button-large-font-family-pressed,
        $button-large-font-family-disabled,

        $button-large-icon-size,

		null,
		$m-button-toolbar-inner-border-color-over,
		$m-button-toolbar-inner-border-color-pressed,
		$m-button-toolbar-inner-border-color-focus
    );



	//overrides

	.#{$prefix}window-active {
		
		@include button-color-override (
			#{$custom-ui-name}-toolbar,

			$button-ui-background-color:transparent,
			$button-ui-background-color-over:$button-toolbar-custom-background-color-over,
			$button-ui-background-color-pressed:$button-toolbar-custom-background-color-pressed,
			$button-ui-background-color-disabled:transparent,

			$button-ui-border-color:transparent,
			$button-ui-border-color-over:$button-toolbar-custom-border-color-over,
			$button-ui-border-color-pressed:$button-toolbar-custom-border-color-pressed,
			$button-ui-border-color-disabled:transparent
		
		);		
	
	}


}
