/*
==============================================================
================ start 'orange-button' ui ====================
*/
.x-btn-orange-button-small {
  border-color: #dd7d2a; }

.x-btn-orange-button-small {
  padding: 2px 2px 2px 2px;
  border-width: 1px;
  border-style: solid;
  background-color: #de8233; }

.x-btn-orange-button-small .x-btn-inner {
  font-size: 11px;
  font-weight: normal;
  font-family: "Segoe UI", tahoma, arial, verdana, sans-serif;
  color: white;
  background-repeat: no-repeat;
  padding: 0 4px; }

.x-btn-orange-button-small-icon button,
.x-btn-orange-button-small-icon a,
.x-btn-orange-button-small-icon .x-btn-inner,
.x-btn-orange-button-small-noicon button,
.x-btn-orange-button-small-noicon a,
.x-btn-orange-button-small-noicon .x-btn-inner {
  height: 16px;
  line-height: 16px; }

.x-btn-orange-button-small-icon button,
.x-btn-orange-button-small-icon a {
  padding: 0; }
.x-btn-orange-button-small-icon .x-btn-inner {
  width: 16px;
  padding: 0; }
.x-btn-orange-button-small-icon .x-btn-icon {
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.x-btn-orange-button-small-icon-text-left button,
.x-btn-orange-button-small-icon-text-left a {
  height: 16px; }
.x-btn-orange-button-small-icon-text-left .x-btn-inner {
  height: 16px;
  line-height: 16px;
  padding-left: 20px; }
.x-btn-orange-button-small-icon-text-left .x-btn-icon {
  width: 16px;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto; }
  .x-ie6 .x-btn-orange-button-small-icon-text-left .x-btn-icon, .x-quirks .x-btn-orange-button-small-icon-text-left .x-btn-icon {
    height: 16px; }

.x-btn-orange-button-small-icon-text-right button,
.x-btn-orange-button-small-icon-text-right a {
  height: 16px; }
.x-btn-orange-button-small-icon-text-right .x-btn-inner {
  height: 16px;
  line-height: 16px;
  padding-right: 20px !important; }
.x-btn-orange-button-small-icon-text-right .x-btn-icon {
  width: 16px;
  height: auto;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0; }
  .x-ie6 .x-btn-orange-button-small-icon-text-right .x-btn-icon, .x-quirks .x-btn-orange-button-small-icon-text-right .x-btn-icon {
    height: 16px; }

.x-btn-orange-button-small-icon-text-top .x-btn-inner {
  padding-top: 20px; }
.x-btn-orange-button-small-icon-text-top .x-btn-icon {
  width: auto;
  height: 16px;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0; }
  .x-ie6 .x-btn-orange-button-small-icon-text-top .x-btn-icon, .x-quirks .x-ie .x-btn-orange-button-small-icon-text-top .x-btn-icon {
    width: 16px; }

.x-btn-orange-button-small-icon-text-bottom .x-btn-inner {
  padding-bottom: 20px; }
.x-btn-orange-button-small-icon-text-bottom .x-btn-icon {
  width: auto;
  height: 16px;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0; }
  .x-ie6 .x-btn-orange-button-small-icon-text-bottom .x-btn-icon, .x-quirks .x-ie .x-btn-orange-button-small-icon-text-bottom .x-btn-icon {
    width: 16px; }

.x-btn-orange-button-small-over {
  border-color: #de8233;
  background-image: none;
  background-color: #df873c; }

.x-btn-orange-button-small-focus {
  border-color: #de8233;
  background-image: none;
  background-color: #df873c; }

.x-btn-orange-button-small-menu-active,
.x-btn-orange-button-small-pressed {
  border-color: #cc7021;
  background-image: none;
  background-color: #d57522; }

.x-btn-orange-button-small-disabled {
  border-color: #e39552;
  background-image: none;
  background-color: #e39552; }

.x-btn-orange-button-medium {
  border-color: #dd7d2a; }

.x-btn-orange-button-medium {
  padding: 3px 3px 3px 3px;
  border-width: 1px;
  border-style: solid;
  background-color: #de8233; }

.x-btn-orange-button-medium .x-btn-inner {
  font-size: 11px;
  font-weight: normal;
  font-family: "Segoe UI", tahoma, arial, verdana, sans-serif;
  color: white;
  background-repeat: no-repeat;
  padding: 0 3px; }

.x-btn-orange-button-medium-icon button,
.x-btn-orange-button-medium-icon a,
.x-btn-orange-button-medium-icon .x-btn-inner,
.x-btn-orange-button-medium-noicon button,
.x-btn-orange-button-medium-noicon a,
.x-btn-orange-button-medium-noicon .x-btn-inner {
  height: 24px;
  line-height: 24px; }

.x-btn-orange-button-medium-icon button,
.x-btn-orange-button-medium-icon a {
  padding: 0; }
.x-btn-orange-button-medium-icon .x-btn-inner {
  width: 24px;
  padding: 0; }
.x-btn-orange-button-medium-icon .x-btn-icon {
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.x-btn-orange-button-medium-icon-text-left button,
.x-btn-orange-button-medium-icon-text-left a {
  height: 24px; }
.x-btn-orange-button-medium-icon-text-left .x-btn-inner {
  height: 24px;
  line-height: 24px;
  padding-left: 28px; }
.x-btn-orange-button-medium-icon-text-left .x-btn-icon {
  width: 24px;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto; }
  .x-ie6 .x-btn-orange-button-medium-icon-text-left .x-btn-icon, .x-quirks .x-btn-orange-button-medium-icon-text-left .x-btn-icon {
    height: 24px; }

.x-btn-orange-button-medium-icon-text-right button,
.x-btn-orange-button-medium-icon-text-right a {
  height: 24px; }
.x-btn-orange-button-medium-icon-text-right .x-btn-inner {
  height: 24px;
  line-height: 24px;
  padding-right: 28px !important; }
.x-btn-orange-button-medium-icon-text-right .x-btn-icon {
  width: 24px;
  height: auto;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0; }
  .x-ie6 .x-btn-orange-button-medium-icon-text-right .x-btn-icon, .x-quirks .x-btn-orange-button-medium-icon-text-right .x-btn-icon {
    height: 24px; }

.x-btn-orange-button-medium-icon-text-top .x-btn-inner {
  padding-top: 28px; }
.x-btn-orange-button-medium-icon-text-top .x-btn-icon {
  width: auto;
  height: 24px;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0; }
  .x-ie6 .x-btn-orange-button-medium-icon-text-top .x-btn-icon, .x-quirks .x-ie .x-btn-orange-button-medium-icon-text-top .x-btn-icon {
    width: 24px; }

.x-btn-orange-button-medium-icon-text-bottom .x-btn-inner {
  padding-bottom: 28px; }
.x-btn-orange-button-medium-icon-text-bottom .x-btn-icon {
  width: auto;
  height: 24px;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0; }
  .x-ie6 .x-btn-orange-button-medium-icon-text-bottom .x-btn-icon, .x-quirks .x-ie .x-btn-orange-button-medium-icon-text-bottom .x-btn-icon {
    width: 24px; }

.x-btn-orange-button-medium-over {
  border-color: #de8233;
  background-image: none;
  background-color: #df873c; }

.x-btn-orange-button-medium-focus {
  border-color: #de8233;
  background-image: none;
  background-color: #df873c; }

.x-btn-orange-button-medium-menu-active,
.x-btn-orange-button-medium-pressed {
  border-color: #cc7021;
  background-image: none;
  background-color: #d57522; }

.x-btn-orange-button-medium-disabled {
  border-color: #e39552;
  background-image: none;
  background-color: #e39552; }

.x-btn-orange-button-large {
  border-color: #dd7d2a; }

.x-btn-orange-button-large {
  padding: 3px 3px 3px 3px;
  border-width: 1px;
  border-style: solid;
  background-color: #de8233; }

.x-btn-orange-button-large .x-btn-inner {
  font-size: 11px;
  font-weight: normal;
  font-family: "Segoe UI", tahoma, arial, verdana, sans-serif;
  color: white;
  background-repeat: no-repeat;
  padding: 0 3px; }

.x-btn-orange-button-large-icon button,
.x-btn-orange-button-large-icon a,
.x-btn-orange-button-large-icon .x-btn-inner,
.x-btn-orange-button-large-noicon button,
.x-btn-orange-button-large-noicon a,
.x-btn-orange-button-large-noicon .x-btn-inner {
  height: 32px;
  line-height: 32px; }

.x-btn-orange-button-large-icon button,
.x-btn-orange-button-large-icon a {
  padding: 0; }
.x-btn-orange-button-large-icon .x-btn-inner {
  width: 32px;
  padding: 0; }
.x-btn-orange-button-large-icon .x-btn-icon {
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.x-btn-orange-button-large-icon-text-left button,
.x-btn-orange-button-large-icon-text-left a {
  height: 32px; }
.x-btn-orange-button-large-icon-text-left .x-btn-inner {
  height: 32px;
  line-height: 32px;
  padding-left: 36px; }
.x-btn-orange-button-large-icon-text-left .x-btn-icon {
  width: 32px;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto; }
  .x-ie6 .x-btn-orange-button-large-icon-text-left .x-btn-icon, .x-quirks .x-btn-orange-button-large-icon-text-left .x-btn-icon {
    height: 32px; }

.x-btn-orange-button-large-icon-text-right button,
.x-btn-orange-button-large-icon-text-right a {
  height: 32px; }
.x-btn-orange-button-large-icon-text-right .x-btn-inner {
  height: 32px;
  line-height: 32px;
  padding-right: 36px !important; }
.x-btn-orange-button-large-icon-text-right .x-btn-icon {
  width: 32px;
  height: auto;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0; }
  .x-ie6 .x-btn-orange-button-large-icon-text-right .x-btn-icon, .x-quirks .x-btn-orange-button-large-icon-text-right .x-btn-icon {
    height: 32px; }

.x-btn-orange-button-large-icon-text-top .x-btn-inner {
  padding-top: 36px; }
.x-btn-orange-button-large-icon-text-top .x-btn-icon {
  width: auto;
  height: 32px;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0; }
  .x-ie6 .x-btn-orange-button-large-icon-text-top .x-btn-icon, .x-quirks .x-ie .x-btn-orange-button-large-icon-text-top .x-btn-icon {
    width: 32px; }

.x-btn-orange-button-large-icon-text-bottom .x-btn-inner {
  padding-bottom: 36px; }
.x-btn-orange-button-large-icon-text-bottom .x-btn-icon {
  width: auto;
  height: 32px;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0; }
  .x-ie6 .x-btn-orange-button-large-icon-text-bottom .x-btn-icon, .x-quirks .x-ie .x-btn-orange-button-large-icon-text-bottom .x-btn-icon {
    width: 32px; }

.x-btn-orange-button-large-over {
  border-color: #de8233;
  background-image: none;
  background-color: #df873c; }

.x-btn-orange-button-large-focus {
  border-color: #de8233;
  background-image: none;
  background-color: #df873c; }

.x-btn-orange-button-large-menu-active,
.x-btn-orange-button-large-pressed {
  border-color: #cc7021;
  background-image: none;
  background-color: #d57522; }

.x-btn-orange-button-large-disabled {
  border-color: #e39552;
  background-image: none;
  background-color: #e39552; }

/*
================= end 'orange-button' ui =====================
==============================================================
*/
/*
==============================================================
============= start 'orange-button-active' ui ================
*/
.x-btn-orange-button-active-small {
  border-color: #697684; }

.x-btn-orange-button-active-small {
  padding: 2px 2px 2px 2px;
  border-width: 1px;
  border-style: solid;
  background-color: #84909c; }

.x-btn-orange-button-active-small .x-btn-inner {
  font-size: 11px;
  font-weight: normal;
  font-family: "Segoe UI", tahoma, arial, verdana, sans-serif;
  color: white;
  background-repeat: no-repeat;
  padding: 0 4px; }

.x-btn-orange-button-active-small-icon button,
.x-btn-orange-button-active-small-icon a,
.x-btn-orange-button-active-small-icon .x-btn-inner,
.x-btn-orange-button-active-small-noicon button,
.x-btn-orange-button-active-small-noicon a,
.x-btn-orange-button-active-small-noicon .x-btn-inner {
  height: 16px;
  line-height: 16px; }

.x-btn-orange-button-active-small-icon button,
.x-btn-orange-button-active-small-icon a {
  padding: 0; }
.x-btn-orange-button-active-small-icon .x-btn-inner {
  width: 16px;
  padding: 0; }
.x-btn-orange-button-active-small-icon .x-btn-icon {
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.x-btn-orange-button-active-small-icon-text-left button,
.x-btn-orange-button-active-small-icon-text-left a {
  height: 16px; }
.x-btn-orange-button-active-small-icon-text-left .x-btn-inner {
  height: 16px;
  line-height: 16px;
  padding-left: 20px; }
.x-btn-orange-button-active-small-icon-text-left .x-btn-icon {
  width: 16px;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto; }
  .x-ie6 .x-btn-orange-button-active-small-icon-text-left .x-btn-icon, .x-quirks .x-btn-orange-button-active-small-icon-text-left .x-btn-icon {
    height: 16px; }

.x-btn-orange-button-active-small-icon-text-right button,
.x-btn-orange-button-active-small-icon-text-right a {
  height: 16px; }
.x-btn-orange-button-active-small-icon-text-right .x-btn-inner {
  height: 16px;
  line-height: 16px;
  padding-right: 20px !important; }
.x-btn-orange-button-active-small-icon-text-right .x-btn-icon {
  width: 16px;
  height: auto;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0; }
  .x-ie6 .x-btn-orange-button-active-small-icon-text-right .x-btn-icon, .x-quirks .x-btn-orange-button-active-small-icon-text-right .x-btn-icon {
    height: 16px; }

.x-btn-orange-button-active-small-icon-text-top .x-btn-inner {
  padding-top: 20px; }
.x-btn-orange-button-active-small-icon-text-top .x-btn-icon {
  width: auto;
  height: 16px;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0; }
  .x-ie6 .x-btn-orange-button-active-small-icon-text-top .x-btn-icon, .x-quirks .x-ie .x-btn-orange-button-active-small-icon-text-top .x-btn-icon {
    width: 16px; }

.x-btn-orange-button-active-small-icon-text-bottom .x-btn-inner {
  padding-bottom: 20px; }
.x-btn-orange-button-active-small-icon-text-bottom .x-btn-icon {
  width: auto;
  height: 16px;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0; }
  .x-ie6 .x-btn-orange-button-active-small-icon-text-bottom .x-btn-icon, .x-quirks .x-ie .x-btn-orange-button-active-small-icon-text-bottom .x-btn-icon {
    width: 16px; }

.x-btn-orange-button-active-small-over {
  border-color: #768391;
  background-image: none;
  background-color: #929da8; }

.x-btn-orange-button-active-small-focus {
  border-color: #768391;
  background-image: none;
  background-color: #84909c; }

.x-btn-orange-button-active-small-menu-active,
.x-btn-orange-button-active-small-pressed {
  background-image: none;
  background-color: #697684; }

.x-btn-orange-button-active-small-disabled {
  border-color: #bcc3ca;
  background-image: none;
  background-color: #bcc3ca; }

.x-btn-orange-button-active-medium {
  border-color: #697684; }

.x-btn-orange-button-active-medium {
  padding: 3px 3px 3px 3px;
  border-width: 1px;
  border-style: solid;
  background-color: #84909c; }

.x-btn-orange-button-active-medium .x-btn-inner {
  font-size: 11px;
  font-weight: normal;
  font-family: "Segoe UI", tahoma, arial, verdana, sans-serif;
  color: white;
  background-repeat: no-repeat;
  padding: 0 3px; }

.x-btn-orange-button-active-medium-icon button,
.x-btn-orange-button-active-medium-icon a,
.x-btn-orange-button-active-medium-icon .x-btn-inner,
.x-btn-orange-button-active-medium-noicon button,
.x-btn-orange-button-active-medium-noicon a,
.x-btn-orange-button-active-medium-noicon .x-btn-inner {
  height: 24px;
  line-height: 24px; }

.x-btn-orange-button-active-medium-icon button,
.x-btn-orange-button-active-medium-icon a {
  padding: 0; }
.x-btn-orange-button-active-medium-icon .x-btn-inner {
  width: 24px;
  padding: 0; }
.x-btn-orange-button-active-medium-icon .x-btn-icon {
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.x-btn-orange-button-active-medium-icon-text-left button,
.x-btn-orange-button-active-medium-icon-text-left a {
  height: 24px; }
.x-btn-orange-button-active-medium-icon-text-left .x-btn-inner {
  height: 24px;
  line-height: 24px;
  padding-left: 28px; }
.x-btn-orange-button-active-medium-icon-text-left .x-btn-icon {
  width: 24px;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto; }
  .x-ie6 .x-btn-orange-button-active-medium-icon-text-left .x-btn-icon, .x-quirks .x-btn-orange-button-active-medium-icon-text-left .x-btn-icon {
    height: 24px; }

.x-btn-orange-button-active-medium-icon-text-right button,
.x-btn-orange-button-active-medium-icon-text-right a {
  height: 24px; }
.x-btn-orange-button-active-medium-icon-text-right .x-btn-inner {
  height: 24px;
  line-height: 24px;
  padding-right: 28px !important; }
.x-btn-orange-button-active-medium-icon-text-right .x-btn-icon {
  width: 24px;
  height: auto;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0; }
  .x-ie6 .x-btn-orange-button-active-medium-icon-text-right .x-btn-icon, .x-quirks .x-btn-orange-button-active-medium-icon-text-right .x-btn-icon {
    height: 24px; }

.x-btn-orange-button-active-medium-icon-text-top .x-btn-inner {
  padding-top: 28px; }
.x-btn-orange-button-active-medium-icon-text-top .x-btn-icon {
  width: auto;
  height: 24px;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0; }
  .x-ie6 .x-btn-orange-button-active-medium-icon-text-top .x-btn-icon, .x-quirks .x-ie .x-btn-orange-button-active-medium-icon-text-top .x-btn-icon {
    width: 24px; }

.x-btn-orange-button-active-medium-icon-text-bottom .x-btn-inner {
  padding-bottom: 28px; }
.x-btn-orange-button-active-medium-icon-text-bottom .x-btn-icon {
  width: auto;
  height: 24px;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0; }
  .x-ie6 .x-btn-orange-button-active-medium-icon-text-bottom .x-btn-icon, .x-quirks .x-ie .x-btn-orange-button-active-medium-icon-text-bottom .x-btn-icon {
    width: 24px; }

.x-btn-orange-button-active-medium-over {
  border-color: #768391;
  background-image: none;
  background-color: #929da8; }

.x-btn-orange-button-active-medium-focus {
  border-color: #768391;
  background-image: none;
  background-color: #84909c; }

.x-btn-orange-button-active-medium-menu-active,
.x-btn-orange-button-active-medium-pressed {
  background-image: none;
  background-color: #697684; }

.x-btn-orange-button-active-medium-disabled {
  border-color: #bcc3ca;
  background-image: none;
  background-color: #bcc3ca; }

.x-btn-orange-button-active-large {
  border-color: #697684; }

.x-btn-orange-button-active-large {
  padding: 3px 3px 3px 3px;
  border-width: 1px;
  border-style: solid;
  background-color: #84909c; }

.x-btn-orange-button-active-large .x-btn-inner {
  font-size: 11px;
  font-weight: normal;
  font-family: "Segoe UI", tahoma, arial, verdana, sans-serif;
  color: white;
  background-repeat: no-repeat;
  padding: 0 3px; }

.x-btn-orange-button-active-large-icon button,
.x-btn-orange-button-active-large-icon a,
.x-btn-orange-button-active-large-icon .x-btn-inner,
.x-btn-orange-button-active-large-noicon button,
.x-btn-orange-button-active-large-noicon a,
.x-btn-orange-button-active-large-noicon .x-btn-inner {
  height: 32px;
  line-height: 32px; }

.x-btn-orange-button-active-large-icon button,
.x-btn-orange-button-active-large-icon a {
  padding: 0; }
.x-btn-orange-button-active-large-icon .x-btn-inner {
  width: 32px;
  padding: 0; }
.x-btn-orange-button-active-large-icon .x-btn-icon {
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.x-btn-orange-button-active-large-icon-text-left button,
.x-btn-orange-button-active-large-icon-text-left a {
  height: 32px; }
.x-btn-orange-button-active-large-icon-text-left .x-btn-inner {
  height: 32px;
  line-height: 32px;
  padding-left: 36px; }
.x-btn-orange-button-active-large-icon-text-left .x-btn-icon {
  width: 32px;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto; }
  .x-ie6 .x-btn-orange-button-active-large-icon-text-left .x-btn-icon, .x-quirks .x-btn-orange-button-active-large-icon-text-left .x-btn-icon {
    height: 32px; }

.x-btn-orange-button-active-large-icon-text-right button,
.x-btn-orange-button-active-large-icon-text-right a {
  height: 32px; }
.x-btn-orange-button-active-large-icon-text-right .x-btn-inner {
  height: 32px;
  line-height: 32px;
  padding-right: 36px !important; }
.x-btn-orange-button-active-large-icon-text-right .x-btn-icon {
  width: 32px;
  height: auto;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0; }
  .x-ie6 .x-btn-orange-button-active-large-icon-text-right .x-btn-icon, .x-quirks .x-btn-orange-button-active-large-icon-text-right .x-btn-icon {
    height: 32px; }

.x-btn-orange-button-active-large-icon-text-top .x-btn-inner {
  padding-top: 36px; }
.x-btn-orange-button-active-large-icon-text-top .x-btn-icon {
  width: auto;
  height: 32px;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0; }
  .x-ie6 .x-btn-orange-button-active-large-icon-text-top .x-btn-icon, .x-quirks .x-ie .x-btn-orange-button-active-large-icon-text-top .x-btn-icon {
    width: 32px; }

.x-btn-orange-button-active-large-icon-text-bottom .x-btn-inner {
  padding-bottom: 36px; }
.x-btn-orange-button-active-large-icon-text-bottom .x-btn-icon {
  width: auto;
  height: 32px;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0; }
  .x-ie6 .x-btn-orange-button-active-large-icon-text-bottom .x-btn-icon, .x-quirks .x-ie .x-btn-orange-button-active-large-icon-text-bottom .x-btn-icon {
    width: 32px; }

.x-btn-orange-button-active-large-over {
  border-color: #768391;
  background-image: none;
  background-color: #929da8; }

.x-btn-orange-button-active-large-focus {
  border-color: #768391;
  background-image: none;
  background-color: #84909c; }

.x-btn-orange-button-active-large-menu-active,
.x-btn-orange-button-active-large-pressed {
  background-image: none;
  background-color: #697684; }

.x-btn-orange-button-active-large-disabled {
  border-color: #bcc3ca;
  background-image: none;
  background-color: #bcc3ca; }

.x-window-active .x-btn-orange-button-active-small {
  background-color: #de8233;
  border-color: #dd7d2a; }
.x-window-active .x-btn-orange-button-active-small-over,
.x-window-active .x-btn-orange-button-active-small-focus {
  background-color: #df873c;
  border-color: #de8233; }
.x-window-active .x-btn-orange-button-active-small-disabled {
  background-color: #e39552;
  border-color: #e39552; }
.x-window-active .x-btn-orange-button-active-small-pressed {
  background-color: #d57522;
  border-color: #cc7021; }
.x-window-active .x-btn-orange-button-active-medium {
  background-color: #de8233;
  border-color: #dd7d2a; }
.x-window-active .x-btn-orange-button-active-medium-over,
.x-window-active .x-btn-orange-button-active-medium-focus {
  background-color: #df873c;
  border-color: #de8233; }
.x-window-active .x-btn-orange-button-active-medium-disabled {
  background-color: #e39552;
  border-color: #e39552; }
.x-window-active .x-btn-orange-button-active-medium-pressed {
  background-color: #d57522;
  border-color: #cc7021; }
.x-window-active .x-btn-orange-button-active-large {
  background-color: #de8233;
  border-color: #dd7d2a; }
.x-window-active .x-btn-orange-button-active-large-over,
.x-window-active .x-btn-orange-button-active-large-focus {
  background-color: #df873c;
  border-color: #de8233; }
.x-window-active .x-btn-orange-button-active-large-disabled {
  background-color: #e39552;
  border-color: #e39552; }
.x-window-active .x-btn-orange-button-active-large-pressed {
  background-color: #d57522;
  border-color: #cc7021; }

/*
=============== end 'orange-button-active' ui ================
==============================================================
*/
/*
==============================================================
=============== start 'orange-panel' ui ======================
*/
.x-panel-orange-panel {
  border-color: #abb4bc; }

.x-panel-header-orange-panel {
  font-size: 11px;
  border-color: #f39d1e;
  border-width: 1px;
  border-style: solid;
  background-image: none;
  background-color: #f5ae45; }
  .x-panel-header-orange-panel > .x-panel-header-body .x-tool img:hover {
    background-color: #f4a32d; }
  .x-panel-header-orange-panel > .x-panel-header-body .x-tool img.x-tool-close {
    background-color: #c54a4a; }
    .x-panel-header-orange-panel > .x-panel-header-body .x-tool img.x-tool-close:hover {
      background-color: #c95656; }

.x-panel-header-text-orange-panel {
  color: #363636;
  font-size: 11px;
  font-weight: bold;
  font-family: "Segoe UI", tahoma, arial, verdana, sans-serif;
  line-height: 19px; }

.x-panel-body-orange-panel {
  background: #f5f6f7;
  border-color: #abb4bc;
  color: black;
  border-width: 1px;
  border-style: solid; }

.x-panel-collapsed .x-window-header-orange-panel,
.x-panel-collapsed .x-panel-header-orange-panel {
  border-color: #f39d1e; }

.x-panel-header-orange-panel-vertical {
  border-color: #f39d1e; }

.x-panel-header-orange-panel-left,
.x-panel-header-orange-panel-right {
  background-image: none;
  background-color: #f5ae45; }

.x-panel-header-orange-panel-right-tc,
.x-panel-header-orange-panel-right-mc,
.x-panel-header-orange-panel-right-bc {
  background-position: right 0; }

.x-panel-header-orange-panel-bottom-tc,
.x-panel-header-orange-panel-bottom-mc,
.x-panel-header-orange-panel-bottom-bc {
  background-position: 0 bottom; }

.x-panel-header-orange-panel + .x-panel-body-orange-panel {
  border-top-color: #f39d1e; }

.x-panel-header-orange-panel + .x-toolbar-docked-top {
  border-top-color: #f39d1e; }

.x-panel-orange-panel.x-grid-with-row-lines .x-panel-body-orange-panel .x-grid-row-selected .x-grid-cell,
.x-panel-orange-panel.x-grid-with-row-lines .x-panel-body-orange-panel .x-grid-row-selected .x-grid-rowwrap-div {
  border-color: #f5b04a !important;
  background-color: #f9ce8e !important; }

/*
==================== end 'panel-orange' ui ===================
==============================================================
*/
/*
==============================================================
=============== start 'orange-panel-framed' ui ===============
*/
.x-panel-orange-panel-framed {
  border-color: #f5ae45; }

.x-panel-header-orange-panel-framed {
  font-size: 11px;
  border-color: #f5ae45;
  border-width: 1px;
  border-style: solid;
  background-image: none;
  background-color: #f5ae45; }
  .x-panel-header-orange-panel-framed > .x-panel-header-body .x-tool img:hover {
    background-color: #f4a32d; }
  .x-panel-header-orange-panel-framed > .x-panel-header-body .x-tool img.x-tool-close {
    background-color: #c54a4a; }
    .x-panel-header-orange-panel-framed > .x-panel-header-body .x-tool img.x-tool-close:hover {
      background-color: #c95656; }

.x-panel-header-text-orange-panel-framed {
  color: #363636;
  font-size: 11px;
  font-weight: bold;
  font-family: "Segoe UI", tahoma, arial, verdana, sans-serif;
  line-height: 19px; }

.x-panel-body-orange-panel-framed {
  background: #f5f6f7;
  border-color: #abb4bc;
  color: #333333;
  border-width: 0;
  border-style: solid; }

.x-panel-collapsed .x-window-header-orange-panel-framed,
.x-panel-collapsed .x-panel-header-orange-panel-framed {
  border-color: #f5ae45; }

.x-panel-header-orange-panel-framed-vertical {
  border-color: #f5ae45; }

.x-panel-header-orange-panel-framed-left,
.x-panel-header-orange-panel-framed-right {
  background-image: none;
  background-color: #f5ae45; }

.x-panel-orange-panel-framed {
  padding: 4px 4px 4px 4px;
  border-width: 1px 2px 2px;
  border-style: solid;
  background-color: #f5f6f7; }

.x-panel-header-orange-panel-framed-top {
  padding: 3px 5px 4px 5px;
  border-width: 1px 2px 0 2px;
  border-style: solid;
  background-color: #f5ae45; }

.x-panel-header-orange-panel-framed-right {
  padding: 5px 4px 5px 4px;
  border-width: 1px 2px 2px 0;
  border-style: solid;
  background-color: #f5ae45; }

.x-panel-header-orange-panel-framed-bottom {
  padding: 3px 5px 4px 5px;
  border-width: 0 2px 2px 2px;
  border-style: solid;
  background-color: #f5ae45; }

.x-panel-header-orange-panel-framed-left {
  padding: 5px 4px 5px 4px;
  border-width: 1px 0 2px 2px;
  border-style: solid;
  background-color: #f5ae45; }

.x-panel .x-panel-header-orange-panel-framed-top {
  border-bottom-width: 1px !important; }

.x-panel .x-panel-header-orange-panel-framed-right {
  border-left-width: 1px !important; }

.x-panel .x-panel-header-orange-panel-framed-bottom {
  border-top-width: 1px !important; }

.x-panel .x-panel-header-orange-panel-framed-left {
  border-right-width: 1px !important; }

.x-panel-header-orange-panel-framed-collapsed-top {
  padding: 3px 5px 4px 5px;
  border-width: 1px 2px 2px 2px;
  border-style: solid;
  background-color: #f5ae45; }

.x-panel-header-orange-panel-framed-collapsed-right {
  padding: 5px 4px 5px 4px;
  border-width: 1px 2px 2px 2px;
  border-style: solid;
  background-color: #f5ae45; }

.x-panel-header-orange-panel-framed-collapsed-bottom {
  padding: 3px 5px 4px 5px;
  border-width: 1px 2px 2px 2px;
  border-style: solid;
  background-color: #f5ae45; }

.x-panel-header-orange-panel-framed-collapsed-left {
  padding: 5px 4px 5px 4px;
  border-width: 1px 2px 2px 2px;
  border-style: solid;
  background-color: #f5ae45; }

.x-panel-header-orange-panel-framed-right-tc,
.x-panel-header-orange-panel-framed-right-mc,
.x-panel-header-orange-panel-framed-right-bc {
  background-position: right 0; }

.x-panel-header-orange-panel-framed-bottom-tc,
.x-panel-header-orange-panel-framed-bottom-mc,
.x-panel-header-orange-panel-framed-bottom-bc {
  background-position: 0 bottom; }

.x-panel-orange-panel-framed.x-grid-with-row-lines .x-panel-body-orange-panel-framed .x-grid-row-selected .x-grid-cell,
.x-panel-orange-panel-framed.x-grid-with-row-lines .x-panel-body-orange-panel-framed .x-grid-row-selected .x-grid-rowwrap-div {
  border-color: #f5b04a !important;
  background-color: #f9ce8e !important; }

/*
================= end 'orange-panel-framed' ui ===============
==============================================================
*/
/*	
==============================================================
============== start 'orange-panel-active' ui ================
*/
.x-panel-orange-panel-active {
  border-color: #abb4bc; }

.x-panel-header-orange-panel-active {
  font-size: 11px;
  border-color: #c2c8ce;
  border-width: 1px;
  border-style: solid;
  background-image: none;
  background-color: #c8cdd3; }
  .x-panel-header-orange-panel-active > .x-panel-header-body .x-tool img:hover {
    background-color: #abb4bc; }
  .x-panel-header-orange-panel-active > .x-panel-header-body .x-tool img.x-tool-close {
    background-color: #73818f; }
    .x-panel-header-orange-panel-active > .x-panel-header-body .x-tool img.x-tool-close:hover {
      background-color: #73818f; }

.x-panel-header-text-orange-panel-active {
  color: #404040;
  font-size: 11px;
  font-weight: bold;
  font-family: "Segoe UI", tahoma, arial, verdana, sans-serif;
  line-height: 19px; }

.x-panel-body-orange-panel-active {
  background: #f5f6f7;
  border-color: #c2c8ce;
  color: black;
  border-width: 1px;
  border-style: solid; }

.x-panel-collapsed .x-window-header-orange-panel-active,
.x-panel-collapsed .x-panel-header-orange-panel-active {
  border-color: #c2c8ce; }

.x-panel-header-orange-panel-active-vertical {
  border-color: #c2c8ce; }

.x-panel-header-orange-panel-active-left,
.x-panel-header-orange-panel-active-right {
  background-image: none;
  background-color: #c8cdd3; }

.x-panel-header-orange-panel-active-right-tc,
.x-panel-header-orange-panel-active-right-mc,
.x-panel-header-orange-panel-active-right-bc {
  background-position: right 0; }

.x-panel-header-orange-panel-active-bottom-tc,
.x-panel-header-orange-panel-active-bottom-mc,
.x-panel-header-orange-panel-active-bottom-bc {
  background-position: 0 bottom; }

.x-window-active .x-panel-orange-panel-active {
  border-color: #f5ae45; }
.x-window-active .x-panel-header-orange-panel-active + .x-panel-body-orange-panel-active {
  border-top-color: #f39d1e; }
.x-window-active .x-panel-header-orange-panel-active + .x-toolbar-docked-top {
  border-top-color: #f39d1e; }
.x-window-active .x-panel-header-text-orange-panel-active {
  color: #363636; }
.x-window-active .x-panel-header-orange-panel-active {
  border-color: #f39d1e;
  background-color: #f5ae45; }
  .x-window-active .x-panel-header-orange-panel-active > .x-panel-header-body .x-tool img:hover {
    background-color: #f4a32d; }
  .x-window-active .x-panel-header-orange-panel-active > .x-panel-header-body .x-tool img.x-tool-close {
    background-color: #c54a4a; }
    .x-window-active .x-panel-header-orange-panel-active > .x-panel-header-body .x-tool img.x-tool-close:hover {
      background-color: #c95656; }
.x-window-active .x-panel-header-text-orange-panel-active {
  color: #363636; }
.x-window-active .x-panel-collapsed .x-window-header-orange-panel-active,
.x-window-active .x-panel-collapsed .x-panel-orange-panel-active {
  border-color: #f39d1e; }
.x-window-active .x-panel-header-orange-panel-active-vertical {
  border-color: #f39d1e; }
.x-window-active .x-panel-header-orange-panel-active-left,
.x-window-active .x-panel-header-orange-panel-active-right {
  background-color: #f5ae45;
  color: #363636; }
.x-window-active .x-panel-orange-panel-active.x-grid-with-row-lines .x-panel-body-orange-panel-active .x-grid-table .x-grid-row-selected .x-grid-cell,
.x-window-active .x-panel-orange-panel-active.x-grid-with-row-lines .x-panel-body-orange-panel-active .x-grid-table .x-grid-row-selected .x-grid-rowwrap-div {
  border-color: #f5b04a !important;
  background-color: #f9ce8e !important; }

/*
============ end 'orange-panel-active' ui ====================
==============================================================
*/
/*	
==============================================================
============ start 'orange-panel-active-framed' ui ===========
*/
.x-panel-orange-panel-active-framed {
  border-color: #c8cdd3; }

.x-panel-header-orange-panel-active-framed {
  font-size: 11px;
  border-color: #abb4bc;
  border-width: 1px;
  border-style: solid;
  background-image: none;
  background-color: #c8cdd3; }
  .x-panel-header-orange-panel-active-framed > .x-panel-header-body .x-tool img:hover {
    background-color: #abb4bc; }
  .x-panel-header-orange-panel-active-framed > .x-panel-header-body .x-tool img.x-tool-close {
    background-color: #73818f; }
    .x-panel-header-orange-panel-active-framed > .x-panel-header-body .x-tool img.x-tool-close:hover {
      background-color: #73818f; }

.x-panel-header-text-orange-panel-active-framed {
  color: #404040;
  font-size: 11px;
  font-weight: bold;
  font-family: "Segoe UI", tahoma, arial, verdana, sans-serif;
  line-height: 19px; }

.x-panel-body-orange-panel-active-framed {
  background: #f5f6f7;
  border-color: #abb4bc;
  color: #333333;
  border-width: 0;
  border-style: solid; }

.x-panel-collapsed .x-window-header-orange-panel-active-framed,
.x-panel-collapsed .x-panel-header-orange-panel-active-framed {
  border-color: #abb4bc; }

.x-panel-header-orange-panel-active-framed-vertical {
  border-color: #abb4bc; }

.x-panel-header-orange-panel-active-framed-left,
.x-panel-header-orange-panel-active-framed-right {
  background-image: none;
  background-color: #c8cdd3; }

.x-panel-orange-panel-active-framed {
  padding: 4px 4px 4px 4px;
  border-width: 1px 2px 2px;
  border-style: solid;
  background-color: #f5f6f7; }

.x-panel-header-orange-panel-active-framed-top {
  padding: 3px 5px 4px 5px;
  border-width: 1px 2px 0 2px;
  border-style: solid;
  background-color: #c8cdd3; }

.x-panel-header-orange-panel-active-framed-right {
  padding: 5px 4px 5px 4px;
  border-width: 1px 2px 2px 0;
  border-style: solid;
  background-color: #c8cdd3; }

.x-panel-header-orange-panel-active-framed-bottom {
  padding: 3px 5px 4px 5px;
  border-width: 0 2px 2px 2px;
  border-style: solid;
  background-color: #c8cdd3; }

.x-panel-header-orange-panel-active-framed-left {
  padding: 5px 4px 5px 4px;
  border-width: 1px 0 2px 2px;
  border-style: solid;
  background-color: #c8cdd3; }

.x-panel .x-panel-header-orange-panel-active-framed-top {
  border-bottom-width: 1px !important; }

.x-panel .x-panel-header-orange-panel-active-framed-right {
  border-left-width: 1px !important; }

.x-panel .x-panel-header-orange-panel-active-framed-bottom {
  border-top-width: 1px !important; }

.x-panel .x-panel-header-orange-panel-active-framed-left {
  border-right-width: 1px !important; }

.x-panel-header-orange-panel-active-framed-collapsed-top {
  padding: 3px 5px 4px 5px;
  border-width: 1px 2px 2px 2px;
  border-style: solid;
  background-color: #c8cdd3; }

.x-panel-header-orange-panel-active-framed-collapsed-right {
  padding: 5px 4px 5px 4px;
  border-width: 1px 2px 2px 2px;
  border-style: solid;
  background-color: #c8cdd3; }

.x-panel-header-orange-panel-active-framed-collapsed-bottom {
  padding: 3px 5px 4px 5px;
  border-width: 1px 2px 2px 2px;
  border-style: solid;
  background-color: #c8cdd3; }

.x-panel-header-orange-panel-active-framed-collapsed-left {
  padding: 5px 4px 5px 4px;
  border-width: 1px 2px 2px 2px;
  border-style: solid;
  background-color: #c8cdd3; }

.x-panel-header-orange-panel-active-framed-right-tc,
.x-panel-header-orange-panel-active-framed-right-mc,
.x-panel-header-orange-panel-active-framed-right-bc {
  background-position: right 0; }

.x-panel-header-orange-panel-active-framed-bottom-tc,
.x-panel-header-orange-panel-active-framed-bottom-mc,
.x-panel-header-orange-panel-active-framed-bottom-bc {
  background-position: 0 bottom; }

.x-window-active .x-panel-orange-panel-active-framed {
  border-color: #f5ae45; }
.x-window-active .x-panel-header-orange-panel-active-framed {
  border-color: #f5ae45;
  background-color: #f5ae45; }
  .x-window-active .x-panel-header-orange-panel-active-framed > .x-panel-header-body .x-tool img:hover {
    background-color: #f4a32d; }
  .x-window-active .x-panel-header-orange-panel-active-framed > .x-panel-header-body .x-tool img.x-tool-close {
    background-color: #c54a4a; }
    .x-window-active .x-panel-header-orange-panel-active-framed > .x-panel-header-body .x-tool img.x-tool-close:hover {
      background-color: #c95656; }
.x-window-active .x-panel-header-text-orange-panel-active-framed {
  color: #363636; }
.x-window-active .x-panel-collapsed .x-window-header-orange-panel-active-framed,
.x-window-active .x-panel-collapsed .x-panel-header-orange-panel-active-framed {
  border-color: #f5ae45;
  color: #363636; }
.x-window-active .x-panel-header-orange-panel-active-framed-vertical {
  border-color: #f5ae45; }
.x-window-active .x-panel-header-orange-panel-active-framed-left,
.x-window-active .x-panel-header-orange-panel-active-framed-right {
  background-color: #f5ae45; }
.x-window-active .x-panel-header-orange-panel-active-framed-top {
  background-color: #f5ae45; }
.x-window-active .x-panel-header-orange-panel-active-framed-right {
  background-color: #f5ae45; }
.x-window-active .x-panel-header-orange-panel-active-framed-bottom {
  background-color: #f5ae45; }
.x-window-active .x-panel-header-orange-panel-active-framed-left {
  background-color: #f5ae45; }
.x-window-active .x-panel-header-orange-panel-active-framed-collapsed-top {
  background-color: #f5ae45; }
.x-window-active .x-panel-header-orange-panel-active-framed-collapsed-right {
  background-color: #f5ae45; }
.x-window-active .x-panel-header-orange-panel-active-framed-collapsed-bottom {
  background-color: #f5ae45; }
.x-window-active .x-panel-header-orange-panel-active-framed-collapsed-left {
  background-color: #f5ae45; }
.x-window-active .x-panel-orange-panel-active-framed.x-grid-with-row-lines .x-panel-body-orange-panel-active-framed .x-grid-table .x-grid-row-selected .x-grid-cell,
.x-window-active .x-panel-orange-panel-active-framed.x-grid-with-row-lines .x-panel-body-orange-panel-active-framed .x-grid-table .x-grid-row-selected .x-grid-rowwrap-div {
  border-color: #f5b04a !important;
  background-color: #f9ce8e !important; }

/*
============ end 'orange-panel-active' ui ====================
==============================================================
*/
/*
==============================================================
============ start 'orange-progress-active' ui ===============
*/
.x-progress-orange-progress {
  border-color: #de8233; }
  .x-progress-orange-progress .x-progress-bar {
    border-right-color: #de8233;
    border-top-color: #de8233;
    background-image: none;
    background-color: #de8233; }
  .x-progress-orange-progress .x-progress-text {
    color: white; }
  .x-progress-orange-progress .x-progress-text-back {
    color: #868787; }

/*
==============================================================
========== start 'orange-progress-active' ui =================
*/
.x-progress-orange-progress-active {
  border-color: #a6afb8; }
  .x-progress-orange-progress-active .x-progress-bar {
    border-right-color: #a6afb8;
    border-top-color: #a6afb8;
    background-image: none;
    background-color: #b4bbc3; }
  .x-progress-orange-progress-active .x-progress-text {
    color: white; }
  .x-progress-orange-progress-active .x-progress-text-back {
    color: #868787; }

.x-window-active .x-progress-orange-progress-active {
  border-color: #de8233; }
.x-window-active .x-progress-orange-progress-active .x-progress-bar {
  border-right-color: #de8233;
  border-top-color: #de8233;
  background-color: #de8233; }

/*
==============================================================
=============== start 'orange-window' ui =====================
*/
.x-window-orange-window .x-window-header .x-tool img:hover {
  background-color: #f4a32d; }

.x-window-orange-window .x-window-body {
  background-color: #f5f6f7; }

.x-window-orange-window img.x-tool-close:hover {
  background-color: #c95656 !important; }

.x-window-orange-window img.x-tool-close {
  background-color: #c54a4a !important; }

.x-window-orange-window .x-btn-default-small {
  background-color: #de8233;
  border-color: #dd7d2a; }
.x-window-orange-window .x-btn-default-small-over,
.x-window-orange-window .x-btn-default-small-focus {
  background-color: #df873c;
  border-color: #de8233; }
.x-window-orange-window .x-btn-default-small-disabled {
  background-color: #e39552;
  border-color: #e39552; }
.x-window-orange-window .x-btn-default-small-pressed {
  background-color: #d57522;
  border-color: #cc7021; }
.x-window-orange-window .x-btn-default-medium {
  background-color: #de8233;
  border-color: #dd7d2a; }
.x-window-orange-window .x-btn-default-medium-over,
.x-window-orange-window .x-btn-default-medium-focus {
  background-color: #df873c;
  border-color: #de8233; }
.x-window-orange-window .x-btn-default-medium-disabled {
  background-color: #e39552;
  border-color: #e39552; }
.x-window-orange-window .x-btn-default-medium-pressed {
  background-color: #d57522;
  border-color: #cc7021; }
.x-window-orange-window .x-btn-default-large {
  background-color: #de8233;
  border-color: #dd7d2a; }
.x-window-orange-window .x-btn-default-large-over,
.x-window-orange-window .x-btn-default-large-focus {
  background-color: #df873c;
  border-color: #de8233; }
.x-window-orange-window .x-btn-default-large-disabled {
  background-color: #e39552;
  border-color: #e39552; }
.x-window-orange-window .x-btn-default-large-pressed {
  background-color: #d57522;
  border-color: #cc7021; }

.x-window-orange-window .x-tab-bar .x-tab-default {
  border-bottom: 1px solid #de8233; }
.x-window-orange-window .x-tab-bar .x-tab-top-active {
  background-color: #de8233;
  border: 1px solid #de8233; }
.x-window-orange-window .x-tab-bar .x-tab-bottom-active {
  background-color: #de8233;
  border: 1px solid #de8233; }
.x-window-orange-window .x-tab-bar-bottom .x-tab {
  border-top-color: #de8233 !important;
  border-bottom-color: transparent; }
.x-window-orange-window .x-tab-bar-bottom .x-tab-active {
  border-bottom-color: #de8233; }
.x-window-orange-window .x-tab-bar .x-tab-bar-strip-default-plain {
  background-color: #de8233;
  border-color: #de8233; }
.x-window-orange-window .x-tab-bar .x-tab-bar-strip-default {
  background-color: #de8233;
  border-color: #de8233; }
.x-window-orange-window .x-tab-bar-top + .x-panel-body {
  border-top-color: #de8233; }

.x-window-orange-window .x-grid-with-row-lines .x-grid-row-selected .x-grid-cell,
.x-window-orange-window .x-grid-with-row-lines .x-grid-row-selected .x-grid-rowwrap-div {
  border-color: #f5b04a !important;
  background-color: #f9ce8e !important; }

.x-window-orange-window {
  border-color: #f4a22a; }

.x-window-orange-window {
  padding: 4px 4px 4px 4px;
  border-width: 1px;
  border-style: solid;
  background-color: #f5ae45; }

.x-window-body-orange-window {
  border-color: #abb4bc;
  border-width: 1px;
  background: #f5f6f7;
  color: black; }

.x-window-header-orange-window {
  font-size: 11px;
  border-color: #f4a22a;
  zoom: 1; }
  .x-window-header-orange-window .x-tool .x-tool-close {
    background-color: gray; }
    .x-window-header-orange-window .x-tool .x-tool-close:hover {
      background-color: gray; }
  .x-window-header-orange-window .x--tool:hover {
    background-color: #f29915; }

.x-window-header-text-orange-window {
  color: #363636;
  font-weight: bold;
  line-height: 26px;
  font-family: "Segoe UI", tahoma, arial, verdana, sans-serif;
  font-size: 11px; }

.x-window-header-orange-window-top {
  padding: 4px 5px 0 5px;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  background-color: #f5ae45; }

.x-window-header-orange-window-right {
  padding: 5px 4px 5px 0;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  background-color: #f5ae45; }

.x-window-header-orange-window-bottom {
  padding: 0 5px 4px 5px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  background-color: #f5ae45; }

.x-window-header-orange-window-left {
  padding: 5px 0px 5px 4px;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  background-color: #f5ae45; }

.x-window-header-orange-window-collapsed-top {
  padding: 4px 5px 4px 5px;
  border-width: 1px;
  border-style: solid;
  background-color: #f5ae45; }

.x-window-header-orange-window-collapsed-right {
  padding: 5px 4px 5px 4px;
  border-width: 1px;
  border-style: solid;
  background-color: #f5ae45; }

.x-window-header-orange-window-collapsed-bottom {
  padding: 4px 5px 4px 5px;
  border-width: 1px;
  border-style: solid;
  background-color: #f5ae45; }

.x-window-header-orange-window-collapsed-left {
  padding: 5px 4px 5px 4px;
  border-width: 1px;
  border-style: solid;
  background-color: #f5ae45; }

/*
=============== end 'orange-window' ui =====================
============================================================
*/
/*
==============================================================
=========== start 'orange-window-active' ui ==================
*/
.x-window-active.x-window-orange-window-active {
  background-color: #f5ae45;
  border-color: #f4a22a; }

.x-window-active.x-window-orange-window-active .x-window-header-orange-window-active-top,
.x-window-active.x-window-orange-window-active .x-window-header-orange-window-active-bottom,
.x-window-active.x-window-orange-window-active .x-window-header-orange-window-active-left,
.x-window-active.x-window-orange-window-active .x-window-header-orange-window-active-right {
  background-color: #f5ae45; }

.x-window-active.x-window-orange-window-active .x-window-header-text {
  color: #363636; }

.x-window-active.x-window-orange-window-active .x-window-header .x-tool img:hover {
  background-color: #f4a32d; }

.x-window-active.x-window-orange-window-active .x-window-body {
  background-color: #f5f6f7; }

.x-window-active.x-window-orange-window-active img.x-tool-close:hover {
  background-color: #c95656 !important; }

.x-window-active.x-window-orange-window-active img.x-tool-close {
  background-color: #c54a4a !important; }

.x-window-active.x-window-orange-window-active .x-btn-default-small {
  background-color: #de8233;
  border-color: #dd7d2a; }
.x-window-active.x-window-orange-window-active .x-btn-default-small-over,
.x-window-active.x-window-orange-window-active .x-btn-default-small-focus {
  background-color: #df873c;
  border-color: #de8233; }
.x-window-active.x-window-orange-window-active .x-btn-default-small-disabled {
  background-color: #e39552;
  border-color: #e39552; }
.x-window-active.x-window-orange-window-active .x-btn-default-small-pressed {
  background-color: #d57522;
  border-color: #cc7021; }
.x-window-active.x-window-orange-window-active .x-btn-default-medium {
  background-color: #de8233;
  border-color: #dd7d2a; }
.x-window-active.x-window-orange-window-active .x-btn-default-medium-over,
.x-window-active.x-window-orange-window-active .x-btn-default-medium-focus {
  background-color: #df873c;
  border-color: #de8233; }
.x-window-active.x-window-orange-window-active .x-btn-default-medium-disabled {
  background-color: #e39552;
  border-color: #e39552; }
.x-window-active.x-window-orange-window-active .x-btn-default-medium-pressed {
  background-color: #d57522;
  border-color: #cc7021; }
.x-window-active.x-window-orange-window-active .x-btn-default-large {
  background-color: #de8233;
  border-color: #dd7d2a; }
.x-window-active.x-window-orange-window-active .x-btn-default-large-over,
.x-window-active.x-window-orange-window-active .x-btn-default-large-focus {
  background-color: #df873c;
  border-color: #de8233; }
.x-window-active.x-window-orange-window-active .x-btn-default-large-disabled {
  background-color: #e39552;
  border-color: #e39552; }
.x-window-active.x-window-orange-window-active .x-btn-default-large-pressed {
  background-color: #d57522;
  border-color: #cc7021; }

.x-window-active.x-window-orange-window-active .x-tab-bar .x-tab-default {
  border-bottom: 1px solid #de8233; }
.x-window-active.x-window-orange-window-active .x-tab-bar .x-tab-top-active {
  background-color: #de8233;
  border: 1px solid #de8233; }
.x-window-active.x-window-orange-window-active .x-tab-bar .x-tab-bottom-active {
  background-color: #de8233;
  border: 1px solid #de8233; }
.x-window-active.x-window-orange-window-active .x-tab-bar-bottom .x-tab {
  border-top-color: #de8233 !important;
  border-bottom-color: transparent; }
.x-window-active.x-window-orange-window-active .x-tab-bar-bottom .x-tab-active {
  border-bottom-color: #de8233; }
.x-window-active.x-window-orange-window-active .x-tab-bar .x-tab-bar-strip-default-plain {
  background-color: #de8233;
  border-color: #de8233; }
.x-window-active.x-window-orange-window-active .x-tab-bar .x-tab-bar-strip-default {
  background-color: #de8233;
  border-color: #de8233; }
.x-window-active.x-window-orange-window-active .x-tab-bar-top + .x-panel-body {
  border-top-color: #de8233; }

.x-window-active.x-window-orange-window-active .x-grid-with-row-lines .x-grid-row-selected .x-grid-cell,
.x-window-active.x-window-orange-window-active .x-grid-with-row-lines .x-grid-row-selected .x-grid-rowwrap-div {
  border-color: #f5b04a !important;
  background-color: #f9ce8e !important; }

.x-window-orange-window-active {
  border-color: #bec4cb; }

.x-window-orange-window-active {
  padding: 4px 4px 4px 4px;
  border-width: 1px;
  border-style: solid;
  background-color: #d9dde0; }

.x-window-body-orange-window-active {
  border-color: #abb4bc;
  border-width: 1px;
  background: #f5f6f7;
  color: black; }

.x-window-header-orange-window-active {
  font-size: 11px;
  border-color: #bec4cb;
  zoom: 1; }
  .x-window-header-orange-window-active .x-tool .x-tool-close {
    background-color: gray; }
    .x-window-header-orange-window-active .x-tool .x-tool-close:hover {
      background-color: gray; }
  .x-window-header-orange-window-active .x--tool:hover {
    background-color: #bcc3ca; }

.x-window-header-text-orange-window-active {
  color: #4d4d4d;
  font-weight: bold;
  line-height: 26px;
  font-family: "Segoe UI", tahoma, arial, verdana, sans-serif;
  font-size: 11px; }

.x-window-header-orange-window-active-top {
  padding: 4px 5px 0 5px;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  background-color: #d9dde0; }

.x-window-header-orange-window-active-right {
  padding: 5px 4px 5px 0;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  background-color: #d9dde0; }

.x-window-header-orange-window-active-bottom {
  padding: 0 5px 4px 5px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  background-color: #d9dde0; }

.x-window-header-orange-window-active-left {
  padding: 5px 0px 5px 4px;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  background-color: #d9dde0; }

.x-window-header-orange-window-active-collapsed-top {
  padding: 4px 5px 4px 5px;
  border-width: 1px;
  border-style: solid;
  background-color: #d9dde0; }

.x-window-header-orange-window-active-collapsed-right {
  padding: 5px 4px 5px 4px;
  border-width: 1px;
  border-style: solid;
  background-color: #d9dde0; }

.x-window-header-orange-window-active-collapsed-bottom {
  padding: 4px 5px 4px 5px;
  border-width: 1px;
  border-style: solid;
  background-color: #d9dde0; }

.x-window-header-orange-window-active-collapsed-left {
  padding: 5px 4px 5px 4px;
  border-width: 1px;
  border-style: solid;
  background-color: #d9dde0; }

/*
============== end 'orange-window-active' ui =================
==============================================================
*/
/*
==============================================================
================= start 'orange-tab' ui ======================
*/
div.x-panel-orange-tab > .x-tab-bar-top .x-tab {
  border-bottom-color: #e28f49; }
div.x-panel-orange-tab > .x-tab-bar-bottom .x-tab {
  border-top-color: #e28f49 !important; }
div.x-panel-orange-tab > .x-tab-bar .x-tab-active {
  background-color: #e28f49;
  border-color: #e28f49 !important; }
div.x-panel-orange-tab > .x-tab-bar .x-tab-bar-strip-default-plain {
  background-color: #e28f49;
  border-color: #e28f49; }
div.x-panel-orange-tab > .x-tab-bar .x-tab-bar-strip-default {
  background-color: #e28f49;
  border-color: #e28f49; }
div.x-panel-orange-tab .x-tab-bar-top + .x-panel-body-orange-tab {
  border-top-color: #e28f49 !important; }
div.x-panel-orange-tab .x-panel-orange-tab {
  border-color: #abb4bc; }
div.x-panel-orange-tab .x-panel-header-orange-tab {
  font-size: 11px;
  border-color: #abb4bc;
  border-width: 1px;
  border-style: solid;
  background-image: none;
  background-color: #c8cdd3; }
div.x-panel-orange-tab .x-panel-header-text-orange-tab {
  color: #404040;
  font-size: 11px;
  font-weight: bold;
  font-family: "Segoe UI", tahoma, arial, verdana, sans-serif;
  line-height: 19px; }
div.x-panel-orange-tab .x-panel-body-orange-tab {
  background: #f5f6f7;
  border-color: #abb4bc;
  color: black;
  border-width: 1px;
  border-style: solid; }
div.x-panel-orange-tab .x-panel-collapsed .x-window-header-orange-tab,
div.x-panel-orange-tab .x-panel-collapsed .x-panel-header-orange-tab {
  border-color: #abb4bc; }
div.x-panel-orange-tab .x-panel-header-orange-tab-vertical {
  border-color: #abb4bc; }
div.x-panel-orange-tab .x-panel-header-orange-tab-left,
div.x-panel-orange-tab .x-panel-header-orange-tab-right {
  background-image: none;
  background-color: #c8cdd3; }
div.x-panel-orange-tab .x-panel-header-orange-tab-right-tc,
div.x-panel-orange-tab .x-panel-header-orange-tab-right-mc,
div.x-panel-orange-tab .x-panel-header-orange-tab-right-bc {
  background-position: right 0; }
div.x-panel-orange-tab .x-panel-header-orange-tab-bottom-tc,
div.x-panel-orange-tab .x-panel-header-orange-tab-bottom-mc,
div.x-panel-orange-tab .x-panel-header-orange-tab-bottom-bc {
  background-position: 0 bottom; }

div.x-panel-orange-tab .x-grid-with-row-lines .x-grid-row-selected .x-grid-cell,
div.x-panel-orange-tab .x-grid-with-row-lines .x-grid-row-selected .x-grid-rowwrap-div {
  border-color: #f5b04a !important;
  background-color: #f9ce8e !important; }

div.x-tabpanel-child .x-panel-orange-tab .x-grid-with-row-lines .x-grid-row-selected .x-grid-cell,
div.x-tabpanel-child .x-panel-orange-tab .x-grid-with-row-lines .x-grid-row-selected .x-grid-rowwrap-div {
  border-color: #f5b04a !important;
  background-color: #f9ce8e !important; }

div.x-tabpanel-child .x-tabpanel-child .x-panel-orange-tab .x-grid-with-row-lines .x-grid-row-selected .x-grid-cell,
div.x-tabpanel-child .x-tabpanel-child .x-panel-orange-tab .x-grid-with-row-lines .x-grid-row-selected .x-grid-rowwrap-div {
  border-color: #f5b04a !important;
  background-color: #f9ce8e !important; }

/*
=================== end 'orange-tab' ui ======================
==============================================================
*/
/*
==============================================================
============= start 'orange-tab-active' ui ===================
*/
.x-panel-orange-tab-active .x-panel-orange-tab-active {
  border-color: #abb4bc; }
.x-panel-orange-tab-active .x-panel-header-orange-tab-active {
  font-size: 11px;
  border-color: #abb4bc;
  border-width: 1px;
  border-style: solid;
  background-image: none;
  background-color: #c8cdd3; }
.x-panel-orange-tab-active .x-panel-header-text-orange-tab-active {
  color: #404040;
  font-size: 11px;
  font-weight: bold;
  font-family: "Segoe UI", tahoma, arial, verdana, sans-serif;
  line-height: 19px; }
.x-panel-orange-tab-active .x-panel-body-orange-tab-active {
  background: #f5f6f7;
  border-color: #abb4bc;
  color: black;
  border-width: 1px;
  border-style: solid; }
.x-panel-orange-tab-active .x-panel-collapsed .x-window-header-orange-tab-active,
.x-panel-orange-tab-active .x-panel-collapsed .x-panel-header-orange-tab-active {
  border-color: #abb4bc; }
.x-panel-orange-tab-active .x-panel-header-orange-tab-active-vertical {
  border-color: #abb4bc; }
.x-panel-orange-tab-active .x-panel-header-orange-tab-active-left,
.x-panel-orange-tab-active .x-panel-header-orange-tab-active-right {
  background-image: none;
  background-color: #c8cdd3; }
.x-panel-orange-tab-active .x-panel-header-orange-tab-active-right-tc,
.x-panel-orange-tab-active .x-panel-header-orange-tab-active-right-mc,
.x-panel-orange-tab-active .x-panel-header-orange-tab-active-right-bc {
  background-position: right 0; }
.x-panel-orange-tab-active .x-panel-header-orange-tab-active-bottom-tc,
.x-panel-orange-tab-active .x-panel-header-orange-tab-active-bottom-mc,
.x-panel-orange-tab-active .x-panel-header-orange-tab-active-bottom-bc {
  background-position: 0 bottom; }

.x-window-active div.x-panel-orange-tab-active > .x-tab-bar-top .x-tab {
  border-bottom-color: #e28f49; }
.x-window-active div.x-panel-orange-tab-active > .x-tab-bar-bottom .x-tab {
  border-top-color: #e28f49 !important;
  border-bottom-color: transparent !important; }
.x-window-active div.x-panel-orange-tab-active > .x-tab-bar-bottom .x-tab-active {
  border-bottom-color: #e28f49 !important; }
.x-window-active div.x-panel-orange-tab-active > .x-tab-bar .x-tab-active {
  background-color: #e28f49;
  border-color: #e28f49 !important; }
.x-window-active div.x-panel-orange-tab-active > .x-tab-bar .x-tab-bar-strip-default-plain {
  background-color: #e28f49;
  border-color: #e28f49; }
.x-window-active div.x-panel-orange-tab-active > .x-tab-bar .x-tab-bar-strip-default {
  background-color: #e28f49;
  border-color: #e28f49; }
.x-window-active div.x-panel-orange-tab-active .x-tab-bar-top + .x-panel-body-orange-tab-active {
  border-top-color: #e28f49 !important; }
.x-window-active div.x-panel-orange-tab-active .x-grid-with-row-lines .x-grid-row-selected .x-grid-cell,
.x-window-active div.x-panel-orange-tab-active .x-grid-with-row-lines .x-grid-row-selected .x-grid-rowwrap-div {
  border-color: #f5b04a !important;
  background-color: #f9ce8e !important; }
.x-window-active div.x-tabpanel-child .x-panel-orange-tab-active .x-grid-with-row-lines .x-grid-row-selected .x-grid-cell,
.x-window-active div.x-tabpanel-child .x-panel-orange-tab-active .x-grid-with-row-lines .x-grid-row-selected .x-grid-rowwrap-div {
  border-color: #f5b04a !important;
  background-color: #f9ce8e !important; }
.x-window-active div.x-tabpanel-child div.x-tabpanel-child .x-tabpanel-child .x-panel-orange-tab-active.x-grid-with-row-lines .x-grid-row-selected .x-grid-cell,
.x-window-active div.x-tabpanel-child div.x-tabpanel-child .x-tabpanel-child .x-panel-orange-tab-active.x-grid-with-row-lines .x-grid-row-selected .x-grid-rowwrap-div {
  border-color: #f5b04a !important;
  background-color: #f9ce8e !important; }

/*
============= end 'orange-tab-active' ui =====================
==============================================================
*/
