.x-grey-checked-box{
    background-position: 0 -26px;
    background-image: url('../images/checkbox.png');
}

.x-redwood-tree-unfocused .x-grid-cell{
    border-style: dotted;
    border-color: #101010;
    border-width:thin;
    background-color: #efefef !important;
}

.x-redwood-item-picker{
    padding: 1px 1px 1px 4px;
}

.x-redwood-item-picker:hover{
}

.x-form-goto-trigger {
    background-image: url('../images/goto-trigger.png'); }

.x-redwood-item-title{
    font-size: 14px;
    font-weight:bold;
}

.x-redwood-action-row .x-grid-cell{
    background-color: #cdc1bb;
    font-weight: bold;
}

.x-redwood-action-divider-row .x-grid-cell {
    line-height: 4px !important;
    background-color:#f5f5f5 !important;
}

.x-redwood-action-divider-row .x-tree-expander {
    display: none !important;
}

.x-redwood-action-name-cell{
    background-color:white !important;
    border-width: 1px !important;
    border-color: #d4fff8 !important;
}

.x-redwood-action-value-cell{
    background-color: #d4fff8 !important;
    border-width: 1px !important;
    border-color: #d4fff8 !important;
    font-weight: normal !important;
}

.x-redwood-results-cell .x-grid-cell-inner {
    white-space: normal;
    word-wrap: break-word;
}

.x-redwood-action-value-cell .x-grid-cell-inner{
    white-space: normal !important;
    word-wrap: break-word !important;
}

.x-redwood-testcase-passed .x-grid-cell{
    background-color: #51ff8e !important;
}

.x-redwood-testcase-failed .x-grid-cell{
    background-color: #ff686e !important;
}

.x-redwood-testcase-running .x-grid-cell{
    background-color: #ffef5a !important;
}

.x-redwood-alternative-tree-row-odd .x-grid-row:nth-of-type(odd) .x-grid-cell {
    background-color: #cdc1bb;
}

.x-redwood-alternative-tree-row-even .x-grid-row:nth-of-type(even) .x-grid-cell {
    background-color: #9ff2bb;
}

.x-redwood-noti_bubble {
    position:absolute;    /* This breaks the div from the normal HTML document. */
    top: -2px !important;
    right:-6px;
    left: 15px!important;
    padding:1px 2px 1px 2px;
    background-color:red; /* you could use a background image if you'd like as well */
    color:white;
    font-weight:bold;
    font-size:0.75em;

    /* The following is CSS3, but isn't crucial for this technique to work. */
    /* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
    /* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
}
