
@mixin button-color-override(
	$ui-name,

	$button-ui-background-color,
	$button-ui-background-color-over,
	$button-ui-background-color-pressed,
	$button-ui-background-color-disabled,

	$button-ui-border-color,
	$button-ui-border-color-over,
	$button-ui-border-color-pressed,
	$button-ui-border-color-disabled
) {
	
		.#{$prefix}btn-#{$ui-name}-small {
			background-color:$button-ui-background-color;
			border-color:$button-ui-border-color;
		} 

		.#{$prefix}btn-#{$ui-name}-small-over, 
		.#{$prefix}btn-#{$ui-name}-small-focus {
			background-color:$button-ui-background-color-over;
			border-color:$button-ui-border-color-over;
		} 

		.#{$prefix}btn-#{$ui-name}-small-disabled {
			background-color:$button-ui-background-color-disabled;
			border-color:$button-ui-border-color-disabled;
		} 

		.#{$prefix}btn-#{$ui-name}-small-pressed {
			background-color:$button-ui-background-color-pressed;
			border-color:$button-ui-border-color-pressed;
		} 



		.#{$prefix}btn-#{$ui-name}-medium {
			background-color:$button-ui-background-color;
			border-color:$button-ui-border-color;
		} 

		.#{$prefix}btn-#{$ui-name}-medium-over, 
		.#{$prefix}btn-#{$ui-name}-medium-focus {
			background-color:$button-ui-background-color-over;
			border-color:$button-ui-border-color-over;
		} 

		.#{$prefix}btn-#{$ui-name}-medium-disabled {
			background-color:$button-ui-background-color-disabled;
			border-color:$button-ui-border-color-disabled;
		} 

		.#{$prefix}btn-#{$ui-name}-medium-pressed {
			background-color:$button-ui-background-color-pressed;
			border-color:$button-ui-border-color-pressed;
		} 


		.#{$prefix}btn-#{$ui-name}-large {
			background-color:$button-ui-background-color;
			border-color:$button-ui-border-color;
		} 

		.#{$prefix}btn-#{$ui-name}-large-over,
		.#{$prefix}btn-#{$ui-name}-large-focus {
			background-color:$button-ui-background-color-over;
			border-color:$button-ui-border-color-over;
		} 

		.#{$prefix}btn-#{$ui-name}-large-disabled {
			background-color:$button-ui-background-color-disabled;
			border-color:$button-ui-border-color-disabled;
		} 

		.#{$prefix}btn-#{$ui-name}-large-pressed {
			background-color:$button-ui-background-color-pressed;
			border-color:$button-ui-border-color-pressed;
		} 

}
