@mixin active-window-overrides (
	$ui-name,
	$window-class,

	$ui-window-background-color:null,
	$ui-window-border-color:null,		

	$ui-window-header-color:null,
	$ui-window-header-background-color:null,
		
	$ui-window-body-background-color:null,

	$ui-window-tool-color-hover:null,
	$ui-window-close-tool-color:null,
	$ui-window-close-tool-color-hover:null,

	$button-ui-background-color:null,
	$button-ui-background-color-over:null,
	$button-ui-background-color-pressed:null,
	$button-ui-background-color-disabled:null,

	$button-ui-border-color:null,
	$button-ui-border-color-over:null,
	$button-ui-border-color-pressed:null,
	$button-ui-border-color-disabled:null,

	$ui-tab-base-color:null,

	$ui-grid-row-background-color-selected:null,
	$ui-grid-row-border-color-selected:null
   
) {
	#{$window-class}.#{$prefix}window-#{$ui-name} {
		@if $ui-window-background-color != null { background-color:$ui-window-background-color; }
		@if $ui-window-border-color != null { border-color:$ui-window-border-color; }			
	}
		

	@if $ui-window-header-background-color != null {
		#{$window-class}.#{$prefix}window-#{$ui-name} {
			.#{$prefix}window-header-#{$ui-name}-top,
			.#{$prefix}window-header-#{$ui-name}-bottom,
			.#{$prefix}window-header-#{$ui-name}-left,
			.#{$prefix}window-header-#{$ui-name}-right
			 {
				background-color:$ui-window-header-background-color;
			}
		}
	}

	@if $ui-window-header-color != null {
		#{$window-class}.#{$prefix}window-#{$ui-name} .#{$prefix}window-header-text {
			color:$ui-window-header-color;
		}
		
	}

	#{$window-class}.#{$prefix}window-#{$ui-name} .#{$prefix}window-header .#{$prefix}tool img:hover {
		background-color:$ui-window-tool-color-hover;
	}		


	@if $ui-window-body-background-color != null {
		#{$window-class}.#{$prefix}window-#{$ui-name} .#{$prefix}window-body {
			background-color:$ui-window-body-background-color;
		}		
	}

	@if $ui-window-close-tool-color-hover != null {
		#{$window-class}.#{$prefix}window-#{$ui-name} img.#{$prefix}tool-close:hover {
			background-color:$ui-window-close-tool-color-hover !important;
		}		
	}

	@if $ui-window-close-tool-color != null {
		#{$window-class}.#{$prefix}window-#{$ui-name} img.#{$prefix}tool-close {
			background-color:$ui-window-close-tool-color !important;
		}		
	}



	//=======button=======//
	#{$window-class}.#{$prefix}window-#{$ui-name} {

		.#{$prefix}btn-default-small {
			background-color:$button-ui-background-color;
			border-color:$button-ui-border-color;
		} 

		.#{$prefix}btn-default-small-over, 
		.#{$prefix}btn-default-small-focus {
			background-color:$button-ui-background-color-over;
			border-color:$button-ui-border-color-over;
		} 

		.#{$prefix}btn-default-small-disabled {
			background-color:$button-ui-background-color-disabled;
			border-color:$button-ui-border-color-disabled;
		} 

		.#{$prefix}btn-default-small-pressed {
			background-color:$button-ui-background-color-pressed;
			border-color:$button-ui-border-color-pressed;
		} 



		.#{$prefix}btn-default-medium {
			background-color:$button-ui-background-color;
			border-color:$button-ui-border-color;
		} 

		.#{$prefix}btn-default-medium-over, 
		.#{$prefix}btn-default-medium-focus {
			background-color:$button-ui-background-color-over;
			border-color:$button-ui-border-color-over;
		} 

		.#{$prefix}btn-default-medium-disabled {
			background-color:$button-ui-background-color-disabled;
			border-color:$button-ui-border-color-disabled;
		} 

		.#{$prefix}btn-default-medium-pressed {
			background-color:$button-ui-background-color-pressed;
			border-color:$button-ui-border-color-pressed;
		} 


		.#{$prefix}btn-default-large {
			background-color:$button-ui-background-color;
			border-color:$button-ui-border-color;
		} 

		.#{$prefix}btn-default-large-over,
		.#{$prefix}btn-default-large-focus {
			background-color:$button-ui-background-color-over;
			border-color:$button-ui-border-color-over;
		} 

		.#{$prefix}btn-default-large-disabled {
			background-color:$button-ui-background-color-disabled;
			border-color:$button-ui-border-color-disabled;
		} 

		.#{$prefix}btn-default-large-pressed {
			background-color:$button-ui-background-color-pressed;
			border-color:$button-ui-border-color-pressed;
		} 

	}

	//===== tab =====//

	#{$window-class}.#{$prefix}window-#{$ui-name} {

		.#{$prefix}tab-bar .#{$prefix}tab-default {	
			border-bottom:1px solid $ui-tab-base-color;
		}

		
		.#{$prefix}tab-bar .#{$prefix}tab-over {
			background-color:lighten($ui-tab-base-color,15);
		}

		.#{$prefix}tab-bar .#{$prefix}tab-top-active {
			background-color: $ui-tab-base-color;
			border:1px solid $ui-tab-base-color;

		}

		.#{$prefix}tab-bar .#{$prefix}tab-bottom-active {
			background-color: $ui-tab-base-color;
			border:1px solid $ui-tab-base-color;
		}

		.#{$prefix}tab-bar-bottom .#{$prefix}tab {	
			border-top-color:$ui-tab-base-color !important;
			border-bottom-color:transparent;
		}

		.#{$prefix}tab-bar-bottom .#{$prefix}tab-active {	
			border-bottom-color:$ui-tab-base-color ;
		}

		
		.#{$prefix}tab-bar .#{$prefix}tab-bar-strip-default-plain {
			background-color: $ui-tab-base-color;
			border-color: $ui-tab-base-color;
		}

		.#{$prefix}tab-bar .#{$prefix}tab-bar-strip-default {
			background-color: $ui-tab-base-color;
			border-color: $ui-tab-base-color;
		}

		.#{$prefix}tab-bar-top + .#{$prefix}panel-body {
			border-top-color:$ui-tab-base-color;
		}
	}

//==== grid ====//
		
	#{$window-class}.#{$prefix}window-#{$ui-name} .#{$prefix}grid-with-row-lines {

		//grid selected
		.#{$prefix}grid-row-selected .#{$prefix}grid-cell,
		.#{$prefix}grid-row-selected .#{$prefix}grid-rowwrap-div {
			border-color: $ui-grid-row-border-color-selected !important;
			background-color: $ui-grid-row-background-color-selected !important;
		}

	}
	

	@if $extjs-version == "4.0" {
		/*marko*/		
		#{$window-class}.#{$prefix}window-#{$ui-name} .#{$prefix}grid-body {
			//grid selected
			.#{$prefix}grid-row-selected .#{$prefix}grid-cell,
			.#{$prefix}grid-row-selected .#{$prefix}grid-rowwrap-div {
				border-color: $ui-grid-row-border-color-selected !important;
				background-color: $ui-grid-row-background-color-selected !important;
			}

			.#{$prefix}grid-row-selected+.#{$prefix}grid-row .#{$prefix}grid-cell {
				border-top-color: $ui-grid-row-border-color-selected !important;
			}
		}	
	}




}
