.CodeMirror {
    height: inherit;
    line-height: 1.1em;
}

.CodeMirror-scroll {
    height: auto;
    overflow: auto;
    width: 100%;
    height: inherit;
}
.activeline {background: #e8f2ff !important;}
.codemirror-field,
.codemirror-field tbody,
.codemirror-field tbody tr,
.codemirror-field tbody tr td {
    height: inherit !important;
}

.codemirror-field td.x-form-item-body  {
    vertical-align: top;
}​