.cm-s-default span.cm-keyword {color: #000043;font-weight:bold;}
.cm-s-default span.cm-atom {color: #219;}
.cm-s-default span.cm-number {color: #0000FF;}
.cm-s-default span.cm-def {color: #00f;}
.cm-s-default span.cm-variable {color: black;}
.cm-s-default span.cm-variable-2 {color: #05a;}
.cm-s-default span.cm-variable-3 {color: #085;}
.cm-s-default span.cm-property {color: #660E7A;font-weight:bold;}
.cm-s-default span.cm-operator {color: #660E7A;}
.cm-s-default span.cm-comment {color: #808080;font-style:italic;}
.cm-s-default span.cm-string {color: #008000;font-weight:bold;}
.cm-s-default span.cm-string-2 {color: #008000;font-weight:bold;}
.cm-s-default span.cm-meta {color: #555;}
.cm-s-default span.cm-error {color: #f00;}
.cm-s-default span.cm-qualifier {color: #555;}
.cm-s-default span.cm-builtin {color: #30a;}
.cm-s-default span.cm-bracket {color: #cc7;}
.cm-s-default span.cm-tag {color: #170;}
.cm-s-default span.cm-attribute {color: #00c;}
.cm-s-default span.cm-header {color: blue;}
.cm-s-default span.cm-quote {color: #090;}
.cm-s-default span.cm-hr {color: #999;}
.cm-s-default span.cm-link {color: #00c;}
