
@mixin blue-progress {

/*
==============================================================
============ start 'blue-progress-active' ui =================
*/

	@include extjs-progress-ui(
        'blue-progress',

        $ui-background-color: $progress-background-color,
        $ui-border-color: $progress-bar-blue-base-color,

        $ui-bar-background-color: $progress-bar-blue-base-color,

        $ui-color-front: $progress-text-color-front,
        $ui-color-back: $progress-text-color-back,

		$ui-bar-background-gradient:$m-progress-bar-background-gradient //add new property
    )

/*
============== end 'blue-progress-active' ui =================
==============================================================
*/


}


@mixin blue-progress-active {

/*
==============================================================
============ start 'blue-progress-active' ui =================
*/

	@include progress-active(
        'blue-progress-active',

        $ui-border-color-active: $progress-bar-blue-base-color,
        $ui-bar-background-color-active: $progress-bar-blue-base-color

    )

/*
============== end 'blue-progress-active' ui =================
==============================================================
*/


}
