
@mixin blue-tab {
/*
==============================================================
================= start 'blue-tab' ui ========================
*/
	@include tab-ui (
		'blue-tab',

		$ui-active:false,

		$ui-base-tab-background-color-active:$tab-blue-base-color,

		$ui-grid-row-background-color-selected:$grid-row-blue-background-color-selected,
		$ui-grid-row-border-color-selected:$grid-row-blue-border-color-selected
	);
/*
=================== end 'blue-tab' ui ========================
==============================================================
*/
}



@mixin blue-tab-active {
/*
==============================================================
============= start 'blue-tab-active' ui =====================
*/

	@include tab-ui (
		'blue-tab-active',

		$ui-active:true,

		$ui-base-tab-background-color-active:$tab-blue-base-color,

		$ui-grid-row-background-color-selected:$grid-row-blue-background-color-selected,
		$ui-grid-row-border-color-selected:$grid-row-blue-border-color-selected
	);

/*
============= end 'blue-tab-active' ui =======================
==============================================================
*/
}



