$html-editor-border-color: $form-field-border-color !default;
$html-editor-background-color: $form-field-background-color !default;

$html-editor-icon-size:16px !default;
$html-editor-icon-file:'editor/tb-sprite.png' !default;

$m-html-editor-color: black !default;