
@mixin orange-tab {
/*
==============================================================
================= start 'orange-tab' ui ======================
*/
	@include tab-ui (
		'orange-tab',

		$ui-active:false,

		$ui-base-tab-background-color-active:$tab-orange-base-color,

		$ui-grid-row-background-color-selected:$grid-row-orange-background-color-selected,
		$ui-grid-row-border-color-selected:$grid-row-orange-border-color-selected

	);
/*
=================== end 'orange-tab' ui ======================
==============================================================
*/
}



@mixin orange-tab-active {
/*
==============================================================
============= start 'orange-tab-active' ui ===================
*/

	@include tab-ui (
		'orange-tab-active',

		$ui-active:true,

		$ui-base-tab-background-color-active:$tab-orange-base-color,

		$ui-grid-row-background-color-selected:$grid-row-orange-background-color-selected,
		$ui-grid-row-border-color-selected:$grid-row-orange-border-color-selected
	);

/*
============= end 'orange-tab-active' ui =====================
==============================================================
*/
}



