
@mixin black-panel {

/*
==============================================================
================= start 'black-panel' ui =====================
*/

@include ui-panel(
	'black-panel',

	$ui-base-color:$base-black-color,

	$ui-header-text-color:$window-black-header-text-color,

	$ui-grid-background-color-selected:$grid-row-black-background-color-selected,
	$ui-grid-border-color-selected:$grid-row-black-border-color-selected,

	$ui-tool-background-color-over:$black-tool-background-color-hover,
	$ui-tool-close-background-color:$black-close-tool-background-color,
	$ui-tool-close-background-color-over:$black-close-tool-background-color-hover

);

/*
==================== end 'black-panel' ui ====================
==============================================================
*/

}


@mixin black-panel-framed {

/*
==============================================================
================ start 'black-panel-framed' ui ===============
*/
@include ui-panel-framed(
	'black-panel-framed',

	$ui-base-color:$base-black-color,

	$ui-header-text-color:$window-black-header-text-color,

	$ui-grid-background-color-selected:$grid-row-black-background-color-selected,
	$ui-grid-border-color-selected:$grid-row-black-border-color-selected,

	$ui-tool-background-color-over:$black-tool-background-color-hover,
	$ui-tool-close-background-color:$black-close-tool-background-color,
	$ui-tool-close-background-color-over:$black-close-tool-background-color-hover

);


/*
=================== end 'black-panel-framed' ui ==============
==============================================================
*/

}






@mixin black-panel-active {

/*	
==============================================================
================= start 'black-panel-active' ui ==============
*/

@include ui-panel-active(
	'black-panel-active',

	$ui-base-color:$base-black-color,

	$ui-header-text-color:$window-black-header-text-color,

	$ui-grid-background-color-selected:$grid-row-black-background-color-selected,
	$ui-grid-border-color-selected:$grid-row-black-border-color-selected,

	$ui-tool-background-color-over:$black-tool-background-color-hover,
	$ui-tool-close-background-color:$black-close-tool-background-color,
	$ui-tool-close-background-color-over:$black-close-tool-background-color-hover

);	

/*
=============== end 'black-panel-active' ui ==================
==============================================================
*/

}


@mixin black-panel-active-framed {

/*	
==============================================================
========= start 'black-panel-active-framed' ui ===============
*/
@include ui-panel-active-framed(
	'black-panel-active-framed',

	$ui-base-color:$base-black-color,

	$ui-header-text-color:$window-black-header-text-color,

	$ui-grid-background-color-selected:$grid-row-black-background-color-selected,
	$ui-grid-border-color-selected:$grid-row-black-border-color-selected,

	$ui-tool-background-color-over:$black-tool-background-color-hover,
	$ui-tool-close-background-color:$black-close-tool-background-color,
	$ui-tool-close-background-color-over:$black-close-tool-background-color-hover

);	
	

/*
=============== end 'black-panel-active' ui ==================
==============================================================
*/

}