
@mixin red-progress {

/*
==============================================================
============ start 'red-progress-active' ui ==================
*/

	@include extjs-progress-ui(
        'red-progress',

        $ui-background-color: $progress-background-color,
        $ui-border-color: $progress-bar-red-base-color,

        $ui-bar-background-color: $progress-bar-red-base-color,

        $ui-color-front: $progress-text-color-front,
        $ui-color-back: $progress-text-color-back,

		$ui-bar-background-gradient:$m-progress-bar-background-gradient //add new property
    )

/*
============== end 'red-progress-active' ui ==================
==============================================================
*/


}


@mixin red-progress-active {

/*
==============================================================
============ start 'red-progress-active' ui ==================
*/

	@include progress-active(
        'red-progress-active',

        $ui-border-color-active: $progress-bar-red-base-color,
        $ui-bar-background-color-active: $progress-bar-red-base-color

    )

/*
============== end 'red-progress-active' ui ==================
==============================================================
*/


}
