
@mixin red-tab {
/*
==============================================================
==================== start 'red-tab' ui ======================
*/
	@include tab-ui (
		'red-tab',

		$ui-active:false,

		$ui-base-tab-background-color-active:$tab-red-base-color,

		$ui-grid-row-background-color-selected:$grid-row-red-background-color-selected,
		$ui-grid-row-border-color-selected:$grid-row-red-border-color-selected
	);
/*
=================== end 'red-tab' ui =========================
==============================================================
*/
}



@mixin red-tab-active {
/*
==============================================================
============= start 'red-tab-active' ui ======================
*/

	@include tab-ui (
		'red-tab-active',

		$ui-active:true,

		$ui-base-tab-background-color-active:$tab-red-base-color,

		$ui-grid-row-background-color-selected:$grid-row-red-background-color-selected,
		$ui-grid-row-border-color-selected:$grid-row-red-border-color-selected
	);

/*
============= end 'red-tab-active' ui ========================
==============================================================
*/
}



