
@mixin form-overrides {

	@if $extjs-version == "4.0" {

		.#{$prefix}field {
			.#{$prefix}form-item-label,
			.#{$prefix}form-item-body,
			.#{$prefix}form-trigger
			 {
				float: left;
			}

			.#{$prefix}form-trigger-wrap {
				float: right;
			}

		}

		.#{$prefix}form-item {
			margin-bottom:5px;
		}

		.#{$prefix}form-item-label {
			float: left;
		}
			
		.x-form-item-body {
			float:left;
		}


		.#{$prefix}fieldset-header .#{$prefix}fieldset-header-text {
			padding:1px 3px;
		}

		.#{$prefix}fieldset {
			padding: 3px 10px;
		
		}

	}


	.#{$prefix}boundlist-item {
		font-size:ceil($font-size * scale-factor($theme-scale-factor,-1.8));
	
	}


}