@mixin grid-row-correction () {
	
	.#{$prefix}column-header-inner {
		.#{$prefix}column-header-text {
			font-size:$grid-header-font-size;
		}
	}
	.#{$prefix}grid-rowwrap-div {
		.#{$prefix}grid-rowbody {
			font:$grid-row-body-font;
		}
	}
	.#{$prefix}grid-row {
		.#{$prefix}grid-cell,
		.#{$prefix}grid-rowwrap-div {
			border-bottom-color:transparent;
		}

		&:nth-child(2) {
			.#{$prefix}grid-cell,
			.#{$prefix}grid-rowwrap-div {
				border-top-color:transparent;
			}
		}

		&:last-child {
			.#{$prefix}grid-cell,
			.#{$prefix}grid-rowwrap-div {
				border-bottom-color:$grid-row-cell-border-color;
			}
		}
	}

	.#{$prefix}grid-row-selected+.#{$prefix}grid-row {
		.#{$prefix}grid-cell,
		.#{$prefix}grid-rowwrap-div {
			border-top-color:transparent;
	
		}
	
	}





	@if $extjs-version == "4.0" {
		.#{$prefix}grid-row {
			.#{$prefix}grid-cell
			 {
				border-top-width:1px;


				&[class*="#{$prefix}grid-cell-treecolumn"] {
					border-top-width:0px;
				}
			}
		}

		.#{$prefix}grid-row-selected+.#{$prefix}grid-row {
			.#{$prefix}grid-cell {
				border-top-color:$grid-row-cell-selected-border-color;
	
			}
	
	}


	}

}

@mixin grid-cell-selected {
	.#{$prefix}grid-cell-selected {
        background-color: transparent !important;
    }

}




