

@mixin htmleditor-tool-bg-color-override {
	.#{$prefix}btn-default-toolbar-small-over {
		background-color:darken($toolbar-background-color,10);
		border-color:darken($toolbar-background-color,15);
	}

	.#{$prefix}btn-default-toolbar-small-focus {
		background-color:darken($toolbar-background-color,10);
		border-color:darken($toolbar-background-color,15);
	}

	.#{$prefix}btn-default-toolbar-small-pressed {
		background-color:darken($toolbar-background-color,20);
		border-color:darken($toolbar-background-color,30);
	}
}
