
@mixin tabbar-overrides {
	.x-tab-default-over {
		background-color:$tab-base-color-over;
	}

	.x-tab-default-active {
		background-color:$tab-base-color-active;
	}
}

@mixin tab-bar-border-correction {
	.#{$prefix}tab {	
		border:none;
		border-top:1px solid transparent;
		border-bottom:1px solid $tab-base-color-active;

		&.#{$prefix}tab-bottom {
			border-bottom-color: transparent;
		}
	}

	.#{$prefix}tab-active {
		border:1px solid $tab-border-color-active;
	}

}

@mixin tab-bar-close-tool-correction {
	.#{$prefix}tab-close-btn {
	visibility: hidden;
	}

	.#{$prefix}tab-active .#{$prefix}tab-close-btn {
		visibility: visible !important;
		background-image: theme-background-image($theme-name,'tab/tab-white-close.gif');
	}

	.#{$prefix}tab-over .#{$prefix}tab-close-btn {
		visibility: visible;
	}
}

@mixin tab-correction {

	.#{$prefix}ie7 .#{$prefix}tab {
		height:$tab-height - 4 !important;
	}

	.#{$prefix}tab:first-child {
		margin-left:1px !important;
	}

}