
@mixin custom-panel {

/*
==============================================================
=============== start 'custom-panel' ui ======================
*/

@include ui-panel(
	'custom-panel',

	$ui-base-color:$base-custom-color,

	$ui-header-text-color:$window-custom-header-text-color,

	$ui-grid-background-color-selected:$grid-row-custom-background-color-selected,
	$ui-grid-border-color-selected:$grid-row-custom-border-color-selected,

	$ui-tool-background-color-over:$custom-tool-background-color-hover,
	$ui-tool-close-background-color:$custom-close-tool-background-color,
	$ui-tool-close-background-color-over:$custom-close-tool-background-color-hover

);

/*
================== end 'custom-panel' ui =====================
==============================================================
*/

}


@mixin custom-panel-framed {

/*
==============================================================
=============== start 'custom-panel-framed' ui ===============
*/

@include ui-panel-framed(
	'custom-panel-framed',

	$ui-base-color:$base-custom-color,

	$ui-header-text-color:$window-custom-header-text-color,

	$ui-grid-background-color-selected:$grid-row-custom-background-color-selected,
	$ui-grid-border-color-selected:$grid-row-custom-border-color-selected,

	$ui-tool-background-color-over:$custom-tool-background-color-hover,
	$ui-tool-close-background-color:$custom-close-tool-background-color,
	$ui-tool-close-background-color-over:$custom-close-tool-background-color-hover

);


/*
================ end 'custom-panel-framed' ui ================
==============================================================
*/

}






@mixin custom-panel-active {

/*	
==============================================================
=============== start 'custom-panel-active' ui ===============
*/

@include ui-panel-active(
	'custom-panel-active',

	$ui-base-color:$base-custom-color,

	$ui-header-text-color:$window-custom-header-text-color,

	$ui-grid-background-color-selected:$grid-row-custom-background-color-selected,
	$ui-grid-border-color-selected:$grid-row-custom-border-color-selected,

	$ui-tool-background-color-over:$custom-tool-background-color-hover,
	$ui-tool-close-background-color:$custom-close-tool-background-color,
	$ui-tool-close-background-color-over:$custom-close-tool-background-color-hover

);	

/*
=============== end 'custom-panel-active' ui =================
==============================================================
*/

}


@mixin custom-panel-active-framed {

/*	
==============================================================
============ start 'custom-panel-active-framed' ui ===========
*/
@include ui-panel-active-framed(
	'custom-panel-active-framed',

	$ui-base-color:$base-custom-color,

	$ui-header-text-color:$window-custom-header-text-color,

	$ui-grid-background-color-selected:$grid-row-custom-background-color-selected,
	$ui-grid-border-color-selected:$grid-row-custom-border-color-selected,

	$ui-tool-background-color-over:$custom-tool-background-color-hover,
	$ui-tool-close-background-color:$custom-close-tool-background-color,
	$ui-tool-close-background-color-over:$custom-close-tool-background-color-hover

);	
	

/*
============== end 'custom-panel-active' ui ==================
==============================================================
*/

}