
@mixin custom-progress {

/*
==============================================================
========== start 'custom-progress-active' ui =================
*/

	@include extjs-progress-ui(
        'custom-progress',

        $ui-background-color: $progress-background-color,
        $ui-border-color: $progress-bar-custom-base-color,

        $ui-bar-background-color: $progress-bar-custom-base-color,

        $ui-color-front: $progress-text-color-front,
        $ui-color-back: $progress-text-color-back,

		$ui-bar-background-gradient:$m-progress-bar-background-gradient //add new property
    )

/*
============ end 'custom-progress-active' ui =================
==============================================================
*/


}


@mixin custom-progress-active {

/*
==============================================================
=========== start 'custom-progress-active' ui ================
*/

	@include progress-active(
        'custom-progress-active',

        $ui-border-color-active: $progress-bar-custom-base-color,
        $ui-bar-background-color-active: $progress-bar-custom-base-color

    )

/*
============ end 'custom-progress-active' ui =================
==============================================================
*/


}
