

@mixin custom-window-active {
/*
==============================================================
============= start 'custom-window-active' ui ================
*/
	 @include active-window-overrides (
		'custom-window-active',
		'.x-window-active',

		$ui-window-background-color:$window-custom-background-color,
		$ui-window-border-color:adjust-color($window-custom-background-color,$lightness:-5.5%),
   
		$ui-window-header-color:$window-custom-header-text-color,
		$ui-window-header-background-color:$window-custom-background-color,

		$ui-window-body-background-color: $base-color,

		$ui-window-tool-color-hover:$custom-tool-background-color-hover,
		$ui-window-close-tool-color:$custom-close-tool-background-color,
		$ui-window-close-tool-color-hover:$custom-close-tool-background-color-hover,

		$button-ui-background-color:$button-custom-background-color,
		$button-ui-background-color-over:$button-custom-background-color-over,
		$button-ui-background-color-pressed:$button-custom-background-color-pressed,
		$button-ui-background-color-disabled:$button-custom-background-color-disabled,

		$button-ui-border-color:$button-custom-border-color,
		$button-ui-border-color-over:$button-custom-border-color-over,
		$button-ui-border-color-pressed:$button-custom-border-color-pressed,
		$button-ui-border-color-disabled:$button-custom-border-color-disabled,

		$ui-tab-base-color:$base-custom-color-dark,

		$ui-grid-row-background-color-selected:$grid-row-custom-background-color-selected,
		$ui-grid-row-border-color-selected:$grid-row-custom-border-color-selected
   );



	@include extjs-window-ui(
        'custom-window-active',

        $ui-border-radius: $window-border-radius,
        $ui-border-color: $window-border-color,
        $ui-inner-border-color: $window-inner-border-color,

        $ui-header-color: $window-header-color,

        $ui-body-border-color: $window-body-border-color,
        $ui-body-background-color: $window-body-background-color,
        $ui-body-color: $window-body-color,

        $ui-background-color: $window-background-color

    );
/*
============== end 'custom-window-active' ui =================
==============================================================
*/

}

@mixin custom-window {
	
/*
==============================================================
=============== start 'custom-window' ui =====================
*/

	   @include active-window-overrides (
		'custom-window',
		'.x-window',

		$ui-window-background-color:null,
		$ui-window-border-color:null,
   
		$ui-window-header-color:null,
		$ui-window-header-background-color:null,

		$ui-window-body-background-color: $base-color,

		$ui-window-tool-color-hover:$custom-tool-background-color-hover,
		$ui-window-close-tool-color:$custom-close-tool-background-color,
		$ui-window-close-tool-color-hover:$custom-close-tool-background-color-hover,

		$button-ui-background-color:$button-custom-background-color,
		$button-ui-background-color-over:$button-custom-background-color-over,
		$button-ui-background-color-pressed:$button-custom-background-color-pressed,
		$button-ui-background-color-disabled:$button-custom-background-color-disabled,

		$button-ui-border-color:$button-custom-border-color,
		$button-ui-border-color-over:$button-custom-border-color-over,
		$button-ui-border-color-pressed:$button-custom-border-color-pressed,
		$button-ui-border-color-disabled:$button-custom-border-color-disabled,

		$ui-tab-base-color:$base-custom-color-dark,


		$ui-grid-row-background-color-selected:$grid-row-custom-background-color-selected,
		$ui-grid-row-border-color-selected:$grid-row-custom-border-color-selected
   );



	@include extjs-window-ui(
        'custom-window',

        $ui-border-radius: $window-border-radius,
        $ui-border-color: adjust-color($base-custom-color,$lightness:-5.5%),
        $ui-inner-border-color: $window-inner-border-color,

        $ui-header-color: $window-custom-header-text-color,

        $ui-body-border-color: $window-body-border-color,
        $ui-body-background-color: $window-body-background-color,
        $ui-body-color: $window-body-color,

        $ui-background-color: $base-custom-color

    );
/*
=============== end 'custom-window' ui =====================
============================================================
*/



}
